USE [master]
GO
/****** Object:  Database [chaves-dayron-proyecto2-3101_db]    Script Date: 19/08/2024 2:44:35 ******/
CREATE DATABASE [chaves-dayron-proyecto2-3101_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'chaves-dayron-proyecto2-3101_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\chaves-dayron-proyecto2-3101_db.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'chaves-dayron-proyecto2-3101_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\chaves-dayron-proyecto2-3101_db_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [chaves-dayron-proyecto2-3101_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [chaves-dayron-proyecto2-3101_db]
GO
/****** Object:  UserDefinedFunction [dbo].[getBonificacion]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[getBonificacion](@empleado_id int, @base decimal(19,4))
RETURNS decimal(19,4)
AS
BEGIN
    declare @Bonificacion decimal(19,4);
	declare @extraDaysOfMonth int;
	declare @extraPlus decimal(19,4);

    SELECT @extraDaysOfMonth = COUNT(empleado_id) FROM extra 
							   WHERE empleado_id = @empleado_id 
							   AND MONTH(fecha) = MONTH(getdate())
	
	SELECT @extraPlus = extra_bonificacion FROM porcentaje WHERE porcentaje_id = 1;
	
	SET @Bonificacion = ( @base * ( @extraPlus * @extraDaysOfMonth ) / 100)
	
	RETURN @Bonificacion
END
GO
/****** Object:  UserDefinedFunction [dbo].[getDeduccion]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[getDeduccion](@empleado_id int, @base decimal(19,4))
RETURNS decimal(19,4)
AS
BEGIN
    declare @Deduccion decimal(19,4);
	declare @libreDaysOfMonth int;
	declare @librePenalization decimal(19,4);

    SELECT @libreDaysOfMonth = COUNT(empleado_id) FROM libre 
							   WHERE empleado_id = @empleado_id 
							   AND MONTH(fecha) = MONTH(getdate())
	
	SELECT @librePenalization = libre_deduccion FROM porcentaje WHERE porcentaje_id = 1;
	
	SET @Deduccion = ( @base * ( @librePenalization * @libreDaysOfMonth ) / 100)
	
	RETURN @Deduccion
END
GO
/****** Object:  UserDefinedFunction [dbo].[getSalarioFinal]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[getSalarioFinal](@base decimal(19,4), @bonificacion decimal(19,4), @deduccion decimal(19,4))
RETURNS decimal(19,4)
AS
BEGIN

    DECLARE @final DECIMAL(19,4);
	
	SET @final = @base;

	IF (@bonificacion IS NOT NULL)
	  BEGIN
		SET @final = @final + @bonificacion;
	  END

	IF (@deduccion IS NOT NULL)
	  BEGIN
		SET @final = @final - @deduccion;
	  END
	
	RETURN @final
END
GO
/****** Object:  Table [dbo].[departamento]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departamento](
	[departamento_id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](255) NOT NULL,
 CONSTRAINT [PK_departamento] PRIMARY KEY CLUSTERED 
(
	[departamento_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empleado]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleado](
	[empleado_id] [int] IDENTITY(1,1) NOT NULL,
	[persona_id] [int] NOT NULL,
	[departamento_id] [int] NOT NULL,
	[puesto_id] [int] NOT NULL,
	[desde_fecha] [date] NOT NULL,
 CONSTRAINT [PK_empleado] PRIMARY KEY CLUSTERED 
(
	[empleado_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[evaluacion]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[evaluacion](
	[evaluacion_id] [int] IDENTITY(1,1) NOT NULL,
	[reunion_id] [int] NOT NULL,
	[empleado_id] [int] NOT NULL,
	[objetivo] [varchar](255) NOT NULL,
	[seguimiento] [varchar](255) NOT NULL,
	[retroalimentacion] [varchar](255) NOT NULL,
 CONSTRAINT [PK_evaluacion] PRIMARY KEY CLUSTERED 
(
	[evaluacion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[extra]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[extra](
	[extra_id] [int] IDENTITY(1,1) NOT NULL,
	[empleado_id] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[motivo] [varchar](255) NOT NULL,
 CONSTRAINT [PK_extra] PRIMARY KEY CLUSTERED 
(
	[extra_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[historial]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[historial](
	[historial_id] [int] IDENTITY(1,1) NOT NULL,
	[empleado_id] [int] NOT NULL,
	[persona_id] [int] NOT NULL,
	[puesto_id] [int] NOT NULL,
	[departamento_id] [int] NOT NULL,
	[de_fecha] [date] NOT NULL,
	[hasta_fecha] [date] NOT NULL,
 CONSTRAINT [PK_historial] PRIMARY KEY CLUSTERED 
(
	[historial_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[libre]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[libre](
	[libre_id] [int] IDENTITY(1,1) NOT NULL,
	[empleado_id] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[motivo] [varchar](255) NOT NULL,
 CONSTRAINT [PK_libre] PRIMARY KEY CLUSTERED 
(
	[libre_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permiso]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permiso](
	[permiso_id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](255) NOT NULL,
 CONSTRAINT [PK_permiso] PRIMARY KEY CLUSTERED 
(
	[permiso_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permiso_empleado]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permiso_empleado](
	[permiso_id] [int] NOT NULL,
	[empleado_id] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[persona]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[persona](
	[persona_id] [int] IDENTITY(1,1) NOT NULL,
	[cedula] [varchar](12) NOT NULL,
	[nombre] [varchar](255) NOT NULL,
	[apellido] [varchar](255) NOT NULL,
	[direccion] [varchar](255) NOT NULL,
	[correo] [varchar](50) NOT NULL,
	[telefono] [varchar](50) NOT NULL,
 CONSTRAINT [PK_persona] PRIMARY KEY CLUSTERED 
(
	[persona_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[porcentaje]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[porcentaje](
	[porcentaje_id] [int] IDENTITY(1,1) NOT NULL,
	[libre_deduccion] [decimal](5, 2) NOT NULL,
	[extra_bonificacion] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PK_porcentaje] PRIMARY KEY CLUSTERED 
(
	[porcentaje_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[puesto]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[puesto](
	[puesto_id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](255) NOT NULL,
	[salario] [decimal](19, 4) NOT NULL,
 CONSTRAINT [PK_puesto] PRIMARY KEY CLUSTERED 
(
	[puesto_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reunion]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reunion](
	[reunion_id] [int] IDENTITY(1,1) NOT NULL,
	[empleado_id] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[hora_inicio] [time](0) NOT NULL,
	[hora_fin] [time](0) NOT NULL,
 CONSTRAINT [PK_reunion] PRIMARY KEY CLUSTERED 
(
	[reunion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rol]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rol](
	[rol_id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](255) NOT NULL,
 CONSTRAINT [PK_rol] PRIMARY KEY CLUSTERED 
(
	[rol_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rol_empleado]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rol_empleado](
	[rol_id] [int] NOT NULL,
	[empleado_id] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[salario]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[salario](
	[salario_id] [int] IDENTITY(1,1) NOT NULL,
	[empleado_id] [int] NOT NULL,
	[_base] [decimal](19, 4) NULL,
	[bonificacion] [decimal](19, 4) NULL,
	[deduccion] [decimal](19, 4) NULL,
	[desde_fecha] [date] NOT NULL,
	[hasta_fecha] [date] NOT NULL,
	[final]  AS ([dbo].[getSalarioFinal]([_base],[bonificacion],[deduccion])),
 CONSTRAINT [PK_salario] PRIMARY KEY CLUSTERED 
(
	[salario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[turno]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[turno](
	[turno_id] [int] IDENTITY(1,1) NOT NULL,
	[empleado_id] [int] NOT NULL,
	[tiempo_inicio] [time](0) NOT NULL,
	[tiempo_fin] [time](0) NOT NULL,
 CONSTRAINT [PK_turno] PRIMARY KEY CLUSTERED 
(
	[turno_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[empleado]  WITH CHECK ADD  CONSTRAINT [FK_empleado_departamento] FOREIGN KEY([departamento_id])
REFERENCES [dbo].[departamento] ([departamento_id])
GO
ALTER TABLE [dbo].[empleado] CHECK CONSTRAINT [FK_empleado_departamento]
GO
ALTER TABLE [dbo].[empleado]  WITH CHECK ADD  CONSTRAINT [FK_empleado_persona] FOREIGN KEY([persona_id])
REFERENCES [dbo].[persona] ([persona_id])
GO
ALTER TABLE [dbo].[empleado] CHECK CONSTRAINT [FK_empleado_persona]
GO
ALTER TABLE [dbo].[empleado]  WITH CHECK ADD  CONSTRAINT [FK_empleado_puesto] FOREIGN KEY([puesto_id])
REFERENCES [dbo].[puesto] ([puesto_id])
GO
ALTER TABLE [dbo].[empleado] CHECK CONSTRAINT [FK_empleado_puesto]
GO
ALTER TABLE [dbo].[evaluacion]  WITH CHECK ADD  CONSTRAINT [FK_evaluacion_empleado] FOREIGN KEY([empleado_id])
REFERENCES [dbo].[empleado] ([empleado_id])
GO
ALTER TABLE [dbo].[evaluacion] CHECK CONSTRAINT [FK_evaluacion_empleado]
GO
ALTER TABLE [dbo].[evaluacion]  WITH CHECK ADD  CONSTRAINT [FK_evaluacion_reunion] FOREIGN KEY([reunion_id])
REFERENCES [dbo].[reunion] ([reunion_id])
GO
ALTER TABLE [dbo].[evaluacion] CHECK CONSTRAINT [FK_evaluacion_reunion]
GO
ALTER TABLE [dbo].[extra]  WITH CHECK ADD  CONSTRAINT [FK_extra_empleado] FOREIGN KEY([empleado_id])
REFERENCES [dbo].[empleado] ([empleado_id])
GO
ALTER TABLE [dbo].[extra] CHECK CONSTRAINT [FK_extra_empleado]
GO
ALTER TABLE [dbo].[historial]  WITH CHECK ADD  CONSTRAINT [FK_historial_departamento] FOREIGN KEY([departamento_id])
REFERENCES [dbo].[departamento] ([departamento_id])
GO
ALTER TABLE [dbo].[historial] CHECK CONSTRAINT [FK_historial_departamento]
GO
ALTER TABLE [dbo].[historial]  WITH CHECK ADD  CONSTRAINT [FK_historial_empleado] FOREIGN KEY([empleado_id])
REFERENCES [dbo].[empleado] ([empleado_id])
GO
ALTER TABLE [dbo].[historial] CHECK CONSTRAINT [FK_historial_empleado]
GO
ALTER TABLE [dbo].[historial]  WITH CHECK ADD  CONSTRAINT [FK_historial_puesto] FOREIGN KEY([puesto_id])
REFERENCES [dbo].[puesto] ([puesto_id])
GO
ALTER TABLE [dbo].[historial] CHECK CONSTRAINT [FK_historial_puesto]
GO
ALTER TABLE [dbo].[libre]  WITH CHECK ADD  CONSTRAINT [FK_libre_empleado] FOREIGN KEY([empleado_id])
REFERENCES [dbo].[empleado] ([empleado_id])
GO
ALTER TABLE [dbo].[libre] CHECK CONSTRAINT [FK_libre_empleado]
GO
ALTER TABLE [dbo].[permiso_empleado]  WITH CHECK ADD  CONSTRAINT [FK_permiso_empleado_empleado] FOREIGN KEY([empleado_id])
REFERENCES [dbo].[empleado] ([empleado_id])
GO
ALTER TABLE [dbo].[permiso_empleado] CHECK CONSTRAINT [FK_permiso_empleado_empleado]
GO
ALTER TABLE [dbo].[permiso_empleado]  WITH CHECK ADD  CONSTRAINT [FK_permiso_empleado_permiso] FOREIGN KEY([permiso_id])
REFERENCES [dbo].[permiso] ([permiso_id])
GO
ALTER TABLE [dbo].[permiso_empleado] CHECK CONSTRAINT [FK_permiso_empleado_permiso]
GO
ALTER TABLE [dbo].[reunion]  WITH CHECK ADD  CONSTRAINT [FK_reunion_empleado] FOREIGN KEY([empleado_id])
REFERENCES [dbo].[empleado] ([empleado_id])
GO
ALTER TABLE [dbo].[reunion] CHECK CONSTRAINT [FK_reunion_empleado]
GO
ALTER TABLE [dbo].[rol_empleado]  WITH CHECK ADD  CONSTRAINT [FK_rol_empleado_empleado] FOREIGN KEY([empleado_id])
REFERENCES [dbo].[empleado] ([empleado_id])
GO
ALTER TABLE [dbo].[rol_empleado] CHECK CONSTRAINT [FK_rol_empleado_empleado]
GO
ALTER TABLE [dbo].[rol_empleado]  WITH CHECK ADD  CONSTRAINT [FK_rol_empleado_rol] FOREIGN KEY([rol_id])
REFERENCES [dbo].[rol] ([rol_id])
GO
ALTER TABLE [dbo].[rol_empleado] CHECK CONSTRAINT [FK_rol_empleado_rol]
GO
ALTER TABLE [dbo].[salario]  WITH CHECK ADD  CONSTRAINT [FK_salario_empleado] FOREIGN KEY([empleado_id])
REFERENCES [dbo].[empleado] ([empleado_id])
GO
ALTER TABLE [dbo].[salario] CHECK CONSTRAINT [FK_salario_empleado]
GO
ALTER TABLE [dbo].[turno]  WITH CHECK ADD  CONSTRAINT [FK_turno_empleado] FOREIGN KEY([empleado_id])
REFERENCES [dbo].[empleado] ([empleado_id])
GO
ALTER TABLE [dbo].[turno] CHECK CONSTRAINT [FK_turno_empleado]
GO
/****** Object:  StoredProcedure [dbo].[stpCreateAllTables]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stpCreateAllTables]
AS
BEGIN
    SET NOCOUNT ON
	SET ANSI_NULLS ON
	SET QUOTED_IDENTIFIER ON
	
	CREATE TABLE [dbo].[departamento](
		[departamento_id] [int] IDENTITY(1,1) NOT NULL,
		[descripcion] [varchar](255) NOT NULL,
	 CONSTRAINT [PK_departamento] PRIMARY KEY CLUSTERED 
	(
		[departamento_id] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]

	CREATE TABLE [dbo].[empleado](
		[empleado_id] [int] IDENTITY(1,1) NOT NULL,
		[persona_id] [int] NOT NULL,
		[departamento_id] [int] NOT NULL,
		[puesto_id] [int] NOT NULL,
		[desde_fecha] [date] NOT NULL,
	 CONSTRAINT [PK_empleado] PRIMARY KEY CLUSTERED 
	(
		[empleado_id] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]

	CREATE TABLE [dbo].[evaluacion](
		[evaluacion_id] [int] IDENTITY(1,1) NOT NULL,
		[reunion_id] [int] NOT NULL,
		[empleado_id] [int] NOT NULL,
		[objetivo] [varchar](255) NOT NULL,
		[seguimiento] [varchar](255) NOT NULL,
		[retroalimentacion] [varchar](255) NOT NULL,
	 CONSTRAINT [PK_evaluacion] PRIMARY KEY CLUSTERED 
	(
		[evaluacion_id] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]

	CREATE TABLE [dbo].[extra](
		[extra_id] [int] IDENTITY(1,1) NOT NULL,
		[empleado_id] [int] NOT NULL,
		[fecha] [date] NOT NULL,
		[motivo] [varchar](255) NOT NULL,
	 CONSTRAINT [PK_extra] PRIMARY KEY CLUSTERED 
	(
		[extra_id] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]

	CREATE TABLE [dbo].[historial](
		[historial_id] [int] IDENTITY(1,1) NOT NULL,
		[empleado_id] [int] NOT NULL,
		[persona_id] [int] NOT NULL,
		[puesto_id] [int] NOT NULL,
		[departamento_id] [int] NOT NULL,
		[de_fecha] [date] NOT NULL,
		[hasta_fecha] [date] NOT NULL,
	 CONSTRAINT [PK_historial] PRIMARY KEY CLUSTERED 
	(
		[historial_id] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]

	CREATE TABLE [dbo].[libre](
		[libre_id] [int] IDENTITY(1,1) NOT NULL,
		[empleado_id] [int] NOT NULL,
		[fecha] [date] NOT NULL,
		[motivo] [varchar](255) NOT NULL,
	 CONSTRAINT [PK_libre] PRIMARY KEY CLUSTERED 
	(
		[libre_id] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]

	CREATE TABLE [dbo].[permiso](
		[permiso_id] [int] IDENTITY(1,1) NOT NULL,
		[descripcion] [varchar](255) NOT NULL,
	 CONSTRAINT [PK_permiso] PRIMARY KEY CLUSTERED 
	(
		[permiso_id] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]

	CREATE TABLE [dbo].[permiso_empleado](
		[permiso_id] [int] NOT NULL,
		[empleado_id] [int] IDENTITY(1,1) NOT NULL
	) ON [PRIMARY]

	CREATE TABLE [dbo].[persona](
		[persona_id] [int] IDENTITY(1,1) NOT NULL,
		[cedula] [varchar](12) NOT NULL,
		[nombre] [varchar](255) NOT NULL,
		[apellido] [varchar](255) NOT NULL,
		[direccion] [varchar](255) NOT NULL,
		[correo] [varchar](50) NOT NULL,
		[telefono] [varchar](50) NOT NULL,
	 CONSTRAINT [PK_persona] PRIMARY KEY CLUSTERED 
	(
		[persona_id] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]

	CREATE TABLE [dbo].[porcentaje](
		[porcentaje_id] [int] IDENTITY(1,1) NOT NULL,
		[libre_deduccion] [decimal](5, 2) NOT NULL,
		[extra_bonificacion] [decimal](5, 2) NOT NULL,
	 CONSTRAINT [PK_porcentaje] PRIMARY KEY CLUSTERED 
	(
		[porcentaje_id] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]

	CREATE TABLE [dbo].[puesto](
		[puesto_id] [int] IDENTITY(1,1) NOT NULL,
		[descripcion] [varchar](255) NOT NULL,
		[salario] [decimal](19, 4) NOT NULL,
	 CONSTRAINT [PK_puesto] PRIMARY KEY CLUSTERED 
	(
		[puesto_id] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]

	CREATE TABLE [dbo].[reunion](
		[reunion_id] [int] IDENTITY(1,1) NOT NULL,
		[empleado_id] [int] NOT NULL,
		[fecha] [date] NOT NULL,
		[hora_inicio] [time](0) NOT NULL,
		[hora_fin] [time](0) NOT NULL,
	 CONSTRAINT [PK_reunion] PRIMARY KEY CLUSTERED 
	(
		[reunion_id] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]

	CREATE TABLE [dbo].[rol](
		[rol_id] [int] IDENTITY(1,1) NOT NULL,
		[descripcion] [varchar](255) NOT NULL,
	 CONSTRAINT [PK_rol] PRIMARY KEY CLUSTERED 
	(
		[rol_id] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]

	CREATE TABLE [dbo].[rol_empleado](
		[rol_id] [int] NOT NULL,
		[empleado_id] [int] IDENTITY(1,1) NOT NULL
	) ON [PRIMARY]

	CREATE TABLE [dbo].[salario](
		[salario_id] [int] IDENTITY(1,1) NOT NULL,
		[empleado_id] [int] NOT NULL,
		[_base] [decimal](19, 4) NULL,
		[bonificacion] [decimal](19, 4) NULL,
		[deduccion] [decimal](19, 4) NULL,
		[desde_fecha] [date] NOT NULL,
		[hasta_fecha] [date] NOT NULL,
		[final]  AS ([dbo].[getSalarioFinal]([_base],[bonificacion],[deduccion])),
	 CONSTRAINT [PK_salario] PRIMARY KEY CLUSTERED 
	(
		[salario_id] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]

	CREATE TABLE [dbo].[turno](
		[turno_id] [int] IDENTITY(1,1) NOT NULL,
		[empleado_id] [int] NOT NULL,
		[tiempo_inicio] [time](0) NOT NULL,
		[tiempo_fin] [time](0) NOT NULL,
	 CONSTRAINT [PK_turno] PRIMARY KEY CLUSTERED 
	(
		[turno_id] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]

	ALTER TABLE [dbo].[empleado]  WITH CHECK ADD  CONSTRAINT [FK_empleado_departamento] FOREIGN KEY([departamento_id])
	REFERENCES [dbo].[departamento] ([departamento_id])

	ALTER TABLE [dbo].[empleado] CHECK CONSTRAINT [FK_empleado_departamento]

	ALTER TABLE [dbo].[empleado]  WITH CHECK ADD  CONSTRAINT [FK_empleado_persona] FOREIGN KEY([persona_id])
	REFERENCES [dbo].[persona] ([persona_id])

	ALTER TABLE [dbo].[empleado] CHECK CONSTRAINT [FK_empleado_persona]

	ALTER TABLE [dbo].[empleado]  WITH CHECK ADD  CONSTRAINT [FK_empleado_puesto] FOREIGN KEY([puesto_id])
	REFERENCES [dbo].[puesto] ([puesto_id])

	ALTER TABLE [dbo].[empleado] CHECK CONSTRAINT [FK_empleado_puesto]

	ALTER TABLE [dbo].[evaluacion]  WITH CHECK ADD  CONSTRAINT [FK_evaluacion_empleado] FOREIGN KEY([empleado_id])
	REFERENCES [dbo].[empleado] ([empleado_id])

	ALTER TABLE [dbo].[evaluacion] CHECK CONSTRAINT [FK_evaluacion_empleado]

	ALTER TABLE [dbo].[evaluacion]  WITH CHECK ADD  CONSTRAINT [FK_evaluacion_reunion] FOREIGN KEY([reunion_id])
	REFERENCES [dbo].[reunion] ([reunion_id])

	ALTER TABLE [dbo].[evaluacion] CHECK CONSTRAINT [FK_evaluacion_reunion]

	ALTER TABLE [dbo].[extra]  WITH CHECK ADD  CONSTRAINT [FK_extra_empleado] FOREIGN KEY([empleado_id])
	REFERENCES [dbo].[empleado] ([empleado_id])

	ALTER TABLE [dbo].[extra] CHECK CONSTRAINT [FK_extra_empleado]

	ALTER TABLE [dbo].[historial]  WITH CHECK ADD  CONSTRAINT [FK_historial_departamento] FOREIGN KEY([departamento_id])
	REFERENCES [dbo].[departamento] ([departamento_id])

	ALTER TABLE [dbo].[historial] CHECK CONSTRAINT [FK_historial_departamento]

	ALTER TABLE [dbo].[historial]  WITH CHECK ADD  CONSTRAINT [FK_historial_empleado] FOREIGN KEY([empleado_id])
	REFERENCES [dbo].[empleado] ([empleado_id])

	ALTER TABLE [dbo].[historial] CHECK CONSTRAINT [FK_historial_empleado]

	ALTER TABLE [dbo].[historial]  WITH CHECK ADD  CONSTRAINT [FK_historial_puesto] FOREIGN KEY([puesto_id])
	REFERENCES [dbo].[puesto] ([puesto_id])

	ALTER TABLE [dbo].[historial] CHECK CONSTRAINT [FK_historial_puesto]

	ALTER TABLE [dbo].[libre]  WITH CHECK ADD  CONSTRAINT [FK_libre_empleado] FOREIGN KEY([empleado_id])
	REFERENCES [dbo].[empleado] ([empleado_id])

	ALTER TABLE [dbo].[libre] CHECK CONSTRAINT [FK_libre_empleado]

	ALTER TABLE [dbo].[permiso_empleado]  WITH CHECK ADD  CONSTRAINT [FK_permiso_empleado_empleado] FOREIGN KEY([empleado_id])
	REFERENCES [dbo].[empleado] ([empleado_id])

	ALTER TABLE [dbo].[permiso_empleado] CHECK CONSTRAINT [FK_permiso_empleado_empleado]

	ALTER TABLE [dbo].[permiso_empleado]  WITH CHECK ADD  CONSTRAINT [FK_permiso_empleado_permiso] FOREIGN KEY([permiso_id])
	REFERENCES [dbo].[permiso] ([permiso_id])

	ALTER TABLE [dbo].[permiso_empleado] CHECK CONSTRAINT [FK_permiso_empleado_permiso]

	ALTER TABLE [dbo].[reunion]  WITH CHECK ADD  CONSTRAINT [FK_reunion_empleado] FOREIGN KEY([empleado_id])
	REFERENCES [dbo].[empleado] ([empleado_id])

	ALTER TABLE [dbo].[reunion] CHECK CONSTRAINT [FK_reunion_empleado]

	ALTER TABLE [dbo].[rol_empleado]  WITH CHECK ADD  CONSTRAINT [FK_rol_empleado_empleado] FOREIGN KEY([empleado_id])
	REFERENCES [dbo].[empleado] ([empleado_id])

	ALTER TABLE [dbo].[rol_empleado] CHECK CONSTRAINT [FK_rol_empleado_empleado]

	ALTER TABLE [dbo].[rol_empleado]  WITH CHECK ADD  CONSTRAINT [FK_rol_empleado_rol] FOREIGN KEY([rol_id])
	REFERENCES [dbo].[rol] ([rol_id])

	ALTER TABLE [dbo].[rol_empleado] CHECK CONSTRAINT [FK_rol_empleado_rol]

	ALTER TABLE [dbo].[salario]  WITH CHECK ADD  CONSTRAINT [FK_salario_empleado] FOREIGN KEY([empleado_id])
	REFERENCES [dbo].[empleado] ([empleado_id])

	ALTER TABLE [dbo].[salario] CHECK CONSTRAINT [FK_salario_empleado]

	ALTER TABLE [dbo].[turno]  WITH CHECK ADD  CONSTRAINT [FK_turno_empleado] FOREIGN KEY([empleado_id])
	REFERENCES [dbo].[empleado] ([empleado_id])

	ALTER TABLE [dbo].[turno] CHECK CONSTRAINT [FK_turno_empleado]
END
GO
/****** Object:  StoredProcedure [dbo].[stpDeleteAllData]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpDeleteAllData]
AS
BEGIN
	EXEC [dbo].[sp_MSforeachtable] 'DISABLE TRIGGER ALL ON ?';
	EXEC [dbo].[sp_MSforeachtable] 'ALTER TABLE ? NOCHECK CONSTRAINT ALL';
	-- quoted identifier aqui no es un error, preservar.
	EXEC [dbo].[sp_MSforeachtable] 'SET QUOTED_IDENTIFIER ON; DELETE FROM ?';
	DBCC CHECKIDENT ('[dbo].[departamento]', RESEED, 0);
	DBCC CHECKIDENT ('[dbo].[empleado]', RESEED, 0);
	DBCC CHECKIDENT ('[dbo].[evaluacion]', RESEED, 0);
	DBCC CHECKIDENT ('[dbo].[historial]', RESEED, 0);
	DBCC CHECKIDENT ('[dbo].[libre]', RESEED, 0);
	DBCC CHECKIDENT ('[dbo].[permiso]', RESEED, 0);
	DBCC CHECKIDENT ('[dbo].[persona]', RESEED, 0);
	DBCC CHECKIDENT ('[dbo].[puesto]', RESEED, 0);
	DBCC CHECKIDENT ('[dbo].[reunion]', RESEED, 0);
	DBCC CHECKIDENT ('[dbo].[rol]', RESEED, 0);
	DBCC CHECKIDENT ('[dbo].[salario]', RESEED, 0);
	DBCC CHECKIDENT ('[dbo].[turno]', RESEED, 0);
	EXEC [dbo].[sp_MSforeachtable] 'ALTER TABLE ? WITH CHECK CHECK CONSTRAINT ALL';
	EXEC [dbo].[sp_MSforeachtable] 'ENABLE TRIGGER ALL ON ?';

	EXEC [dbo].[stpInsertDefaultData];
END
GO
/****** Object:  StoredProcedure [dbo].[stpDeleteAllTables]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpDeleteAllTables]
AS

BEGIN
	SET NOCOUNT ON
	DECLARE @sql NVARCHAR(2000)
	WHILE(EXISTS(SELECT 1 from INFORMATION_SCHEMA.TABLE_CONSTRAINTS WHERE CONSTRAINT_TYPE='FOREIGN KEY'))
	BEGIN
		SELECT TOP 1 @sql=('ALTER TABLE ' + TABLE_SCHEMA + '.[' + TABLE_NAME + '] DROP CONSTRAINT [' + CONSTRAINT_NAME + ']')
		FROM INFORMATION_SCHEMA.TABLE_CONSTRAINTS
		WHERE CONSTRAINT_TYPE = 'FOREIGN KEY'
		EXEC(@sql)
		PRINT @sql
	END

	WHILE(EXISTS(SELECT * from INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME != '__MigrationHistory' AND TABLE_NAME != 'database_firewall_rules' AND TABLE_TYPE != 'VIEW'))
	BEGIN
		SELECT TOP 1 @sql=('DROP TABLE ' + TABLE_SCHEMA + '.[' + TABLE_NAME + ']')
		FROM INFORMATION_SCHEMA.TABLES
		WHERE TABLE_NAME != '__MigrationHistory' AND TABLE_NAME != 'database_firewall_rules' 
		EXEC(@sql)
		PRINT @sql
	END
END
GO
/****** Object:  StoredProcedure [dbo].[stpDeleteExtra]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpDeleteExtra]
			    @extra_id int
AS
BEGIN
    SET NOCOUNT ON;
	DELETE FROM [dbo].[extra] WHERE extra_id = @extra_id;
END
GO
/****** Object:  StoredProcedure [dbo].[stpDeleteLibre]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpDeleteLibre]
			    @libre_id int
AS
BEGIN
    SET NOCOUNT ON;
	DELETE FROM [dbo].[libre] WHERE libre_id = @libre_id;
END
GO
/****** Object:  StoredProcedure [dbo].[stpDeletePermisoEmpleado]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpDeletePermisoEmpleado]
			    @empleado_id int
AS
BEGIN
    SET NOCOUNT ON;
	DELETE FROM [dbo].[permiso_empleado] WHERE empleado_id = @empleado_id;
END
GO
/****** Object:  StoredProcedure [dbo].[stpDeleteRolEmpleado]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpDeleteRolEmpleado]
			    @empleado_id int
AS
BEGIN
    SET NOCOUNT ON;
	DELETE FROM [dbo].[rol_empleado] WHERE empleado_id = @empleado_id;
END
GO
/****** Object:  StoredProcedure [dbo].[stpDeleteTurno]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpDeleteTurno]
			    @turno_id int
AS
BEGIN
    SET NOCOUNT ON;
	DELETE FROM [dbo].[turno] WHERE turno_id = @turno_id;
END
GO
/****** Object:  StoredProcedure [dbo].[stpGetDepartamento]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpGetDepartamento]
	@departamento_id int
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM departamento WHERE departamento_id = @departamento_id;
END
GO
/****** Object:  StoredProcedure [dbo].[stpGetDepartamentos]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpGetDepartamentos]
AS
BEGIN
	SET NOCOUNT ON;

	SELECT * FROM departamento;
END
GO
/****** Object:  StoredProcedure [dbo].[stpGetEmpleado]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpGetEmpleado]
	@empleado_id int
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM empleado WHERE empleado_id = @empleado_id;
END
GO
/****** Object:  StoredProcedure [dbo].[stpGetEmpleados]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpGetEmpleados]
AS
BEGIN
    SET NOCOUNT ON;
	SELECT * FROM empleado;
END
GO
/****** Object:  StoredProcedure [dbo].[stpGetEmpleadoWithPersonaId]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpGetEmpleadoWithPersonaId]
	@persona_id int
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM empleado
	WHERE persona_id = @persona_id;
END
GO
/****** Object:  StoredProcedure [dbo].[stpGetEvaluacion]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpGetEvaluacion]
	@evaluacion_id int
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM evaluacion WHERE evaluacion_id = @evaluacion_id;
END
GO
/****** Object:  StoredProcedure [dbo].[stpGetExtraEmpleado]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpGetExtraEmpleado]
	@empleado_id int
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM extra WHERE empleado_id = @empleado_id;
END
GO
/****** Object:  StoredProcedure [dbo].[stpGetExtras]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpGetExtras]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM extra;
END
GO
/****** Object:  StoredProcedure [dbo].[stpGetExtrasToRemind]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpGetExtrasToRemind]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM extra 
	WHERE fecha = DATEADD( DAY, +1, CAST(GETDATE() AS DATE)); --mañana
END
GO
/****** Object:  StoredProcedure [dbo].[stpGetHistorial]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpGetHistorial]
	@empleado_id int
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM historial WHERE empleado_id = @empleado_id;
END
GO
/****** Object:  StoredProcedure [dbo].[stpGetLibreEmpleado]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpGetLibreEmpleado]
	@empleado_id int
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM libre WHERE empleado_id = @empleado_id;
END
GO
/****** Object:  StoredProcedure [dbo].[stpGetLibres]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpGetLibres]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM libre;
END
GO
/****** Object:  StoredProcedure [dbo].[stpGetLibresToRemind]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpGetLibresToRemind]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM libre 
	WHERE fecha = DATEADD( DAY, +1, CAST(GETDATE() AS DATE)); --mañana
END
GO
/****** Object:  StoredProcedure [dbo].[stpGetListEmpleados]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpGetListEmpleados]
AS
BEGIN
	SET NOCOUNT ON;

	SELECT e.empleado_id, p.nombre, p.apellido, d.descripcion AS departamento, pst.descripcion AS puesto
	FROM persona AS p
	JOIN empleado AS e ON e.persona_id = p.persona_id
	JOIN departamento AS d ON d.departamento_id = e.departamento_id
	JOIN puesto	AS pst ON pst.puesto_id = e.puesto_id;
END
GO
/****** Object:  StoredProcedure [dbo].[stpGetListTurnos]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpGetListTurnos]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT t.empleado_id, p.nombre, p.apellido, t.tiempo_inicio, t.tiempo_fin FROM turno AS t
	JOIN empleado AS e ON t.empleado_id = e.empleado_id
	JOIN persona AS p ON e.persona_id = p.persona_id
END
GO
/****** Object:  StoredProcedure [dbo].[stpGetNomina]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpGetNomina]
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @CurrentMonth DATE;
	SET @CurrentMonth = GETDATE() AT TIME ZONE 'Mountain Standard Time';

	SELECT p.nombre, p.apellido, d.descripcion AS departamento, pst.descripcion AS puesto
	,sal._base , sal.bonificacion, sal.deduccion, sal.final
	FROM persona AS p
	JOIN empleado AS e ON e.persona_id = p.persona_id
	JOIN departamento AS d ON d.departamento_id = e.departamento_id
	JOIN puesto	AS pst ON pst.puesto_id = e.puesto_id
	JOIN salario AS sal ON e.empleado_id = sal.empleado_id
	WHERE (sal.desde_fecha <= @CurrentMonth)
	AND  (sal.hasta_fecha >= @CurrentMonth)
END
GO
/****** Object:  StoredProcedure [dbo].[stpGetPermiso]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpGetPermiso]
	@permiso_id int
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM permiso WHERE permiso_id = @permiso_id;
END
GO
/****** Object:  StoredProcedure [dbo].[stpGetPermisoEmpleado]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpGetPermisoEmpleado]
	@empleado_id int
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM permiso_empleado WHERE empleado_id = @empleado_id;
END
GO
/****** Object:  StoredProcedure [dbo].[stpGetPermisos]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpGetPermisos]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM permiso;
END
GO
/****** Object:  StoredProcedure [dbo].[stpGetPersona]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpGetPersona]
	@empleado_id int
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM persona AS p
	INNER JOIN empleado AS e ON p.persona_id = e.empleado_id
	WHERE e.empleado_id = @empleado_id;
END
GO
/****** Object:  StoredProcedure [dbo].[stpGetPersonas]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpGetPersonas]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM persona;
END
GO
/****** Object:  StoredProcedure [dbo].[stpGetPersonaWithCedula]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpGetPersonaWithCedula]
	@cedula VARCHAR(12)
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM persona WHERE cedula = @cedula;
END
GO
/****** Object:  StoredProcedure [dbo].[stpGetPorcentajes]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpGetPorcentajes]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM porcentaje;
END
GO
/****** Object:  StoredProcedure [dbo].[stpGetPuesto]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpGetPuesto]
	@puesto_id int
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM puesto WHERE puesto_id = @puesto_id;
END
GO
/****** Object:  StoredProcedure [dbo].[stpGetPuestos]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpGetPuestos]
AS
BEGIN
	SET NOCOUNT ON;

	SELECT * FROM puesto;
END
GO
/****** Object:  StoredProcedure [dbo].[stpGetReunionEmpleado]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpGetReunionEmpleado]
	@empleado_id int
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM reunion WHERE empleado_id = @empleado_id;
END
GO
/****** Object:  StoredProcedure [dbo].[stpGetReuniones]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpGetReuniones]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM reunion;
END
GO
/****** Object:  StoredProcedure [dbo].[stpGetReunionesToRemind]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpGetReunionesToRemind]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM reunion 
	WHERE fecha = DATEADD( DAY, +1, CAST(GETDATE() AS DATE)); --mañana
END
GO
/****** Object:  StoredProcedure [dbo].[stpGetRol]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpGetRol]
	@rol_id int
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM rol WHERE rol_id = @rol_id;
END
GO
/****** Object:  StoredProcedure [dbo].[stpGetRolEmpleado]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpGetRolEmpleado]
	@empleado_id int
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM rol_empleado WHERE empleado_id = @empleado_id;
END
GO
/****** Object:  StoredProcedure [dbo].[stpGetRoles]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpGetRoles]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM rol;
END
GO
/****** Object:  StoredProcedure [dbo].[stpGetSalarioEmpleado]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpGetSalarioEmpleado]
	@empleado_id int
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @CurrentMonth DATE;
	SET @CurrentMonth = GETDATE() AT TIME ZONE 'Mountain Standard Time';

	SELECT * FROM salario 
	WHERE empleado_id = @empleado_id
	AND (desde_fecha <= @CurrentMonth)
	AND (hasta_fecha >= @CurrentMonth)
END
GO
/****** Object:  StoredProcedure [dbo].[stpGetSalarios]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpGetSalarios]
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @CurrentMonth DATE;
	SET @CurrentMonth = GETDATE() AT TIME ZONE 'Mountain Standard Time';

	SELECT * FROM salario
	WHERE (desde_fecha <= @CurrentMonth)
	AND (hasta_fecha >= @CurrentMonth);
END
GO
/****** Object:  StoredProcedure [dbo].[stpGetSumatoriaNomina]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpGetSumatoriaNomina]
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @CurrentMonth DATE;
	SET @CurrentMonth = GETDATE() AT TIME ZONE 'Mountain Standard Time';
	
	-- Estos nombres deben coincidir con los del modelo en la aplicacion web
	SELECT SUM(sal._base) AS '_base', SUM(sal.bonificacion) AS 'bonificacion', SUM(sal.deduccion) AS 'deduccion', SUM(sal.final) AS 'final'
	FROM salario AS sal
	WHERE (sal.desde_fecha <= @CurrentMonth)
	AND  (sal.hasta_fecha >= @CurrentMonth)
END
GO
/****** Object:  StoredProcedure [dbo].[stpGetTurnoEmpleado]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpGetTurnoEmpleado]
	@empleado_id int
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM turno WHERE empleado_id = @empleado_id;
END
GO
/****** Object:  StoredProcedure [dbo].[stpGetTurnos]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpGetTurnos]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM turno;
END
GO
/****** Object:  StoredProcedure [dbo].[stpInsertDefaultData]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpInsertDefaultData]
AS
BEGIN
    SET NOCOUNT ON;
	/*Scripts sin efecto, solo para disparar los triggers de estas tablas.	*/
	UPDATE departamento SET descripcion = descripcion WHERE departamento_id = 0;
	UPDATE puesto SET descripcion = descripcion WHERE puesto_id = 0;
	UPDATE rol SET descripcion = descripcion WHERE rol_id = 0;
	UPDATE permiso SET descripcion = descripcion WHERE permiso_id = 0;
	UPDATE porcentaje SET libre_deduccion = libre_deduccion WHERE porcentaje_id = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[stpInsertEmpleado]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpInsertEmpleado]
			    @persona_id int
			   ,@departamento_id int
			   ,@puesto_id int
			   ,@desde_fecha datetime
AS
BEGIN
    SET NOCOUNT ON;
	INSERT INTO [dbo].[empleado]
			   ([persona_id]
			   ,[departamento_id]
			   ,[puesto_id]
			   ,[desde_fecha])
		 VALUES
			   (@persona_id
			   ,@departamento_id
			   ,@puesto_id
			   ,@desde_fecha)
END
GO
/****** Object:  StoredProcedure [dbo].[stpInsertEvaluacion]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpInsertEvaluacion]
			    @reunion_id int
			   ,@empleado_id int
			   ,@objetivo varchar(255)
			   ,@seguimiento varchar(255)
			   ,@retroalimentacion varchar(255)
AS
BEGIN
    SET NOCOUNT ON;
	INSERT INTO [dbo].[evaluacion]
			   ([reunion_id]
			   ,[empleado_id]
			   ,[objetivo]
			   ,[seguimiento]
			   ,[retroalimentacion])
		 VALUES
			   (@reunion_id
			   ,@empleado_id
			   ,@objetivo
			   ,@seguimiento
			   ,@retroalimentacion)
END
GO
/****** Object:  StoredProcedure [dbo].[stpInsertExtra]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpInsertExtra]
			    @empleado_id int
			   ,@fecha date
			   ,@motivo varchar(255)
AS
BEGIN
    SET NOCOUNT ON;
	INSERT INTO [dbo].[extra]
			   ([empleado_id]
			   ,[fecha]
			   ,[motivo])
		 VALUES
			   (@empleado_id
			   ,@fecha
			   ,@motivo)
END
GO
/****** Object:  StoredProcedure [dbo].[stpInsertHistorial]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpInsertHistorial]
            @empleado_id int
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @DepartamentoActual int;
	DECLARE @PuestoActual int;
	DECLARE @FechaContrato DATETIME;
	DECLARE @FechaSalida DATETIME = GETDATE() AT TIME ZONE 'Mountain Standard Time';

	SELECT @DepartamentoActual = departamento_id FROM empleado WHERE empleado_id = @empleado_id;
	SELECT @PuestoActual = puesto_id FROM empleado WHERE empleado_id = @empleado_id;
	SELECT @FechaContrato = desde_fecha FROM empleado WHERE empleado_id = @empleado_id;

	INSERT INTO [dbo].[historial]
           ([empleado_id]
           ,[puesto_id]
           ,[departamento_id]
           ,[de_fecha]
           ,[hasta_fecha])
     VALUES
           (@empleado_id
           ,@PuestoActual
           ,@DepartamentoActual
           ,@FechaContrato
           ,@FechaSalida)
END
GO
/****** Object:  StoredProcedure [dbo].[stpInsertLibre]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpInsertLibre]
			    @empleado_id int
			   ,@fecha date
			   ,@motivo varchar(255)
AS
BEGIN
    SET NOCOUNT ON;
	INSERT INTO [dbo].[libre]
			   ([empleado_id]
			   ,[fecha]
			   ,[motivo])
		 VALUES
			   (@empleado_id
			   ,@fecha
			   ,@motivo)
END
GO
/****** Object:  StoredProcedure [dbo].[stpInsertPermisoEmpleado]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpInsertPermisoEmpleado]
			    @permiso_id int
			   ,@empleado_id int
AS
BEGIN
    SET NOCOUNT ON;
	SET IDENTITY_INSERT [dbo].[permiso_empleado] ON;
	INSERT INTO [dbo].[permiso_empleado]
			   ([permiso_id]
			   ,[empleado_id])
		 VALUES
			   (@permiso_id
			   ,@empleado_id)
	SET IDENTITY_INSERT [dbo].[permiso_empleado] OFF;
END
GO
/****** Object:  StoredProcedure [dbo].[stpInsertPersona]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpInsertPersona]
            @cedula varchar(12)
           ,@nombre varchar(255)
           ,@apellido varchar(255)
           ,@direccion varchar(255)
           ,@correo varchar(50)
           ,@telefono varchar(50)
AS
BEGIN
    SET NOCOUNT ON;
	INSERT INTO [dbo].[persona]
			   ([cedula]
			   ,[nombre]
			   ,[apellido]
			   ,[direccion]
			   ,[correo]
			   ,[telefono])
		 VALUES
			   (@cedula
			   ,@nombre
			   ,@apellido
			   ,@direccion
			   ,@correo
			   ,@telefono)
END
GO
/****** Object:  StoredProcedure [dbo].[stpInsertReunion]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpInsertReunion]
			   @empleado_id int
			   ,@fecha date
			   ,@hora_inicio time(0)
			   ,@hora_fin time(0)
AS
BEGIN
    SET NOCOUNT ON;
	INSERT INTO [dbo].[reunion]
			   ([empleado_id]
			   ,[fecha]
			   ,[hora_inicio]
			   ,[hora_fin])
		 VALUES
			   (@empleado_id
			   ,@fecha
			   ,@hora_inicio
			   ,@hora_fin)
END
GO
/****** Object:  StoredProcedure [dbo].[stpInsertRolEmpleado]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpInsertRolEmpleado]
			     @rol_id int
			    ,@empleado_id int
AS
BEGIN
    SET NOCOUNT ON;
	SET IDENTITY_INSERT [dbo].[rol_empleado] ON;
	INSERT INTO [dbo].[rol_empleado]
			   ([rol_id]
			   ,[empleado_id])
		 VALUES
			    (@rol_id
			    ,@empleado_id)
	SET IDENTITY_INSERT [dbo].[rol_empleado] OFF;
END
GO
/****** Object:  StoredProcedure [dbo].[stpInsertSalario]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpInsertSalario]
            @empleado_id int
           ,@desde_fecha date
           ,@hasta_fecha date
AS
BEGIN
    SET NOCOUNT ON;
	INSERT INTO [dbo].[salario]
           ([empleado_id]
           ,[desde_fecha]
           ,[hasta_fecha])
     VALUES
           (@empleado_id
           ,@desde_fecha
           ,@hasta_fecha)
END
GO
/****** Object:  StoredProcedure [dbo].[stpInsertTestValues]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpInsertTestValues]
AS
BEGIN

	/*
	/!\ NO FUNCIONA. /!\
	EXEC [dbo].[sp_MSforeachtable] 'SET IDENTITY_INSERT ? ON';
	EXEC [dbo].[sp_MSforeachtable] 'SET IDENTITY_INSERT ? OFF';
	/!\ NO FUNCIONA. /!\
	*/

	/* /!\ DEBE HABER SOLO UN IDENTITY_INSERT A LA VEZ /!\*/
	SET IDENTITY_INSERT [dbo].[persona] ON;
	INSERT INTO [dbo].[persona] (persona_id, cedula, nombre, apellido, direccion, correo, telefono) VALUES (1, '305240018', 'Dayron', 'Chaves', 'Turrialba', 'dayron.chaves@uned.cr', '11111111');
	INSERT INTO [dbo].[persona] (persona_id, cedula, nombre, apellido, direccion, correo, telefono) VALUES (2, '202220222', 'Persona', '2', 'San Jose', 'persona2@example.com', '22222222');
	INSERT INTO [dbo].[persona] (persona_id, cedula, nombre, apellido, direccion, correo, telefono) VALUES (3, '303330333', 'Persona', '3', 'San Jose', 'persona3@example.com', '33333333');
	INSERT INTO [dbo].[persona] (persona_id, cedula, nombre, apellido, direccion, correo, telefono) VALUES (4, '404440444', 'Persona', '4', 'San Jose', 'persona4@example.com', '44444444');
	INSERT INTO [dbo].[persona] (persona_id, cedula, nombre, apellido, direccion, correo, telefono) VALUES (5, '505550555', 'Persona', '5', 'San Jose', 'persona5@example.com', '55555555');
	INSERT INTO [dbo].[persona] (persona_id, cedula, nombre, apellido, direccion, correo, telefono) VALUES (6, '606660666', 'Persona', '6', 'San Jose', 'persona6@example.com', '66666666');
	INSERT INTO [dbo].[persona] (persona_id, cedula, nombre, apellido, direccion, correo, telefono) VALUES (7, '707770777', 'Persona', '7', 'San Jose', 'persona7@example.com', '77777777');
	INSERT INTO [dbo].[persona] (persona_id, cedula, nombre, apellido, direccion, correo, telefono) VALUES (8, '808880888', 'Persona', '8', 'San Jose', 'persona8@example.com', '88888888');
	INSERT INTO [dbo].[persona] (persona_id, cedula, nombre, apellido, direccion, correo, telefono) VALUES (9, '909990999', 'Persona', '9', 'San Jose', 'persona9@example.com', '99999999');
	INSERT INTO [dbo].[persona] (persona_id, cedula, nombre, apellido, direccion, correo, telefono) VALUES (10, '000000000', 'Persona', '10', 'San Jose', 'persona10@example.com', '00000000');
	SET IDENTITY_INSERT [dbo].[persona] OFF;

	SET IDENTITY_INSERT [dbo].[empleado] ON;
	DECLARE @DiaContrato DATETIME =  GETDATE() AT TIME ZONE 'Mountain Standard Time';
	INSERT INTO [dbo].[empleado] (empleado_id, persona_id, departamento_id, puesto_id, desde_fecha) VALUES (1, 1, 1, 1, DATEADD( DAY, -15, @DiaContrato));
	INSERT INTO [dbo].[empleado] (empleado_id, persona_id, departamento_id, puesto_id, desde_fecha) VALUES (2, 2, 2, 2, DATEADD( DAY, -15, @DiaContrato));
	INSERT INTO [dbo].[empleado] (empleado_id, persona_id, departamento_id, puesto_id, desde_fecha) VALUES (3, 3, 3, 3, DATEADD( DAY, -15, @DiaContrato));
	INSERT INTO [dbo].[empleado] (empleado_id, persona_id, departamento_id, puesto_id, desde_fecha) VALUES (4, 4, 4, 4, DATEADD( DAY, -15, @DiaContrato));
	INSERT INTO [dbo].[empleado] (empleado_id, persona_id, departamento_id, puesto_id, desde_fecha) VALUES (5, 5, 5, 5, DATEADD( DAY, -15, @DiaContrato));
	INSERT INTO [dbo].[empleado] (empleado_id, persona_id, departamento_id, puesto_id, desde_fecha) VALUES (6, 6, 6, 6, DATEADD( DAY, -15, @DiaContrato));
	INSERT INTO [dbo].[empleado] (empleado_id, persona_id, departamento_id, puesto_id, desde_fecha) VALUES (7, 7, 7, 7, DATEADD( DAY, -15, @DiaContrato));
	INSERT INTO [dbo].[empleado] (empleado_id, persona_id, departamento_id, puesto_id, desde_fecha) VALUES (8, 8, 8, 8, DATEADD( DAY, -15, @DiaContrato));
	INSERT INTO [dbo].[empleado] (empleado_id, persona_id, departamento_id, puesto_id, desde_fecha) VALUES (9, 9, 9, 9, DATEADD( DAY, -15, @DiaContrato));
	INSERT INTO [dbo].[empleado] (empleado_id, persona_id, departamento_id, puesto_id, desde_fecha) VALUES (10, 10, 10, 10, DATEADD( DAY, -15, @DiaContrato));
	SET IDENTITY_INSERT [dbo].[empleado] OFF;

	SET IDENTITY_INSERT [dbo].[rol_empleado] ON;
	INSERT INTO [dbo].[rol_empleado] (rol_id, empleado_id) VALUES (1, 1);
	INSERT INTO [dbo].[rol_empleado] (rol_id, empleado_id) VALUES (1, 2);
	INSERT INTO [dbo].[rol_empleado] (rol_id, empleado_id) VALUES (2, 3);
	INSERT INTO [dbo].[rol_empleado] (rol_id, empleado_id) VALUES (2, 4);
	INSERT INTO [dbo].[rol_empleado] (rol_id, empleado_id) VALUES (3, 5);
	INSERT INTO [dbo].[rol_empleado] (rol_id, empleado_id) VALUES (3, 6);
	INSERT INTO [dbo].[rol_empleado] (rol_id, empleado_id) VALUES (4, 7);
	INSERT INTO [dbo].[rol_empleado] (rol_id, empleado_id) VALUES (4, 8);
	INSERT INTO [dbo].[rol_empleado] (rol_id, empleado_id) VALUES (5, 9);
	INSERT INTO [dbo].[rol_empleado] (rol_id, empleado_id) VALUES (5, 10);
	SET IDENTITY_INSERT [dbo].[rol_empleado] OFF;

	SET IDENTITY_INSERT [dbo].[permiso_empleado] ON;
	INSERT INTO [dbo].[permiso_empleado] (permiso_id, empleado_id) VALUES (1, 1);
	INSERT INTO [dbo].[permiso_empleado] (permiso_id, empleado_id) VALUES (1, 2);
	INSERT INTO [dbo].[permiso_empleado] (permiso_id, empleado_id) VALUES (2, 3);
	INSERT INTO [dbo].[permiso_empleado] (permiso_id, empleado_id) VALUES (2, 4);
	INSERT INTO [dbo].[permiso_empleado] (permiso_id, empleado_id) VALUES (3, 5);
	INSERT INTO [dbo].[permiso_empleado] (permiso_id, empleado_id) VALUES (3, 6);
	INSERT INTO [dbo].[permiso_empleado] (permiso_id, empleado_id) VALUES (4, 7);
	INSERT INTO [dbo].[permiso_empleado] (permiso_id, empleado_id) VALUES (4, 8);
	INSERT INTO [dbo].[permiso_empleado] (permiso_id, empleado_id) VALUES (5, 9);
	INSERT INTO [dbo].[permiso_empleado] (permiso_id, empleado_id) VALUES (5, 10);
	SET IDENTITY_INSERT [dbo].[permiso_empleado] OFF;

	SET IDENTITY_INSERT [dbo].[turno] ON;
	DECLARE @Ingreso TIME =  '06:00:00'
	DECLARE @Salida TIME = '14:00:00'
	INSERT INTO [dbo].[turno] (turno_id, empleado_id, tiempo_inicio, tiempo_fin) VALUES (1, 1, @Ingreso, @Salida);
	INSERT INTO [dbo].[turno] (turno_id, empleado_id, tiempo_inicio, tiempo_fin) VALUES (2, 2, @Ingreso, @Salida);
	INSERT INTO [dbo].[turno] (turno_id, empleado_id, tiempo_inicio, tiempo_fin) VALUES (3, 3, @Ingreso, @Salida);
	INSERT INTO [dbo].[turno] (turno_id, empleado_id, tiempo_inicio, tiempo_fin) VALUES (4, 4, @Ingreso, @Salida);
	INSERT INTO [dbo].[turno] (turno_id, empleado_id, tiempo_inicio, tiempo_fin) VALUES (5, 5, @Ingreso, @Salida);
	INSERT INTO [dbo].[turno] (turno_id, empleado_id, tiempo_inicio, tiempo_fin) VALUES (6, 6, @Ingreso, @Salida);
	INSERT INTO [dbo].[turno] (turno_id, empleado_id, tiempo_inicio, tiempo_fin) VALUES (7, 7, @Ingreso, @Salida);
	INSERT INTO [dbo].[turno] (turno_id, empleado_id, tiempo_inicio, tiempo_fin) VALUES (8, 8, @Ingreso, @Salida);
	INSERT INTO [dbo].[turno] (turno_id, empleado_id, tiempo_inicio, tiempo_fin) VALUES (9, 9, @Ingreso, @Salida);
	INSERT INTO [dbo].[turno] (turno_id, empleado_id, tiempo_inicio, tiempo_fin) VALUES (10, 10, @Ingreso, @Salida);
	SET IDENTITY_INSERT [dbo].[turno] OFF;

	SET IDENTITY_INSERT [dbo].[salario] ON;
	DECLARE @Hoy DATETIME =  GETDATE() AT TIME ZONE 'Mountain Standard Time';
	DECLARE @SiguienteMes DATETIME = DATEADD( MONTH, +1, @Hoy);
	INSERT INTO [dbo].[salario] (salario_id, empleado_id, desde_fecha, hasta_fecha) VALUES (1, 1, @Hoy, @SiguienteMes);
	INSERT INTO [dbo].[salario] (salario_id, empleado_id, desde_fecha, hasta_fecha) VALUES (2, 2, @Hoy, @SiguienteMes);
	INSERT INTO [dbo].[salario] (salario_id, empleado_id, desde_fecha, hasta_fecha) VALUES (3, 3, @Hoy, @SiguienteMes);
	INSERT INTO [dbo].[salario] (salario_id, empleado_id, desde_fecha, hasta_fecha) VALUES (4, 4, @Hoy, @SiguienteMes);
	INSERT INTO [dbo].[salario] (salario_id, empleado_id, desde_fecha, hasta_fecha) VALUES (5, 5, @Hoy, @SiguienteMes);
	INSERT INTO [dbo].[salario] (salario_id, empleado_id, desde_fecha, hasta_fecha) VALUES (6, 6, @Hoy, @SiguienteMes);
	INSERT INTO [dbo].[salario] (salario_id, empleado_id, desde_fecha, hasta_fecha) VALUES (7, 7, @Hoy, @SiguienteMes);
	INSERT INTO [dbo].[salario] (salario_id, empleado_id, desde_fecha, hasta_fecha) VALUES (8, 8, @Hoy, @SiguienteMes);
	INSERT INTO [dbo].[salario] (salario_id, empleado_id, desde_fecha, hasta_fecha) VALUES (9, 9, @Hoy, @SiguienteMes);
	INSERT INTO [dbo].[salario] (salario_id, empleado_id, desde_fecha, hasta_fecha) VALUES (10, 10, @Hoy, @SiguienteMes);
	SET IDENTITY_INSERT [dbo].[salario] OFF;


	SET IDENTITY_INSERT [dbo].[libre] ON;
	DECLARE @TiempoInicio DATETIME =  GETDATE() AT TIME ZONE 'Mountain Standard Time';
	INSERT INTO [dbo].[libre] (libre_id, empleado_id, fecha, motivo) VALUES (1, 1, @TiempoInicio, 'Incapacitacion');
	INSERT INTO [dbo].[libre] (libre_id, empleado_id, fecha, motivo) VALUES (2, 2, DATEADD( DAY, +1, @TiempoInicio), 'Incapacitacion');
	INSERT INTO [dbo].[libre] (libre_id, empleado_id, fecha, motivo) VALUES (3, 3, DATEADD( DAY, +2, @TiempoInicio), 'Incapacitacion');
	INSERT INTO [dbo].[libre] (libre_id, empleado_id, fecha, motivo) VALUES (4, 4, DATEADD( DAY, +3, @TiempoInicio), 'Incapacitacion');
	INSERT INTO [dbo].[libre] (libre_id, empleado_id, fecha, motivo) VALUES (5, 5, DATEADD( DAY, +4, @TiempoInicio), 'Incapacitacion');
	INSERT INTO [dbo].[libre] (libre_id, empleado_id, fecha, motivo) VALUES (6, 6, DATEADD( DAY, +5, @TiempoInicio), 'Incapacitacion');
	INSERT INTO [dbo].[libre] (libre_id, empleado_id, fecha, motivo) VALUES (7, 7, DATEADD( DAY, +6, @TiempoInicio), 'Incapacitacion');
	INSERT INTO [dbo].[libre] (libre_id, empleado_id, fecha, motivo) VALUES (8, 8, DATEADD( DAY, +7, @TiempoInicio), 'Incapacitacion');
	INSERT INTO [dbo].[libre] (libre_id, empleado_id, fecha, motivo) VALUES (9, 9, DATEADD( DAY, +8, @TiempoInicio), 'Incapacitacion');
	INSERT INTO [dbo].[libre] (libre_id, empleado_id, fecha, motivo) VALUES (10, 10, DATEADD( DAY, +9, @TiempoInicio), 'Incapacitacion');
	SET IDENTITY_INSERT [dbo].[libre] OFF;

	SET IDENTITY_INSERT [dbo].[extra] ON;
	INSERT INTO [dbo].[extra] (extra_id, empleado_id, fecha, motivo) VALUES (1, 1, @TiempoInicio, 'Incapacitacion');
	INSERT INTO [dbo].[extra] (extra_id, empleado_id, fecha, motivo) VALUES (2, 2, DATEADD( DAY, +9, @TiempoInicio), 'Incapacitacion');
	INSERT INTO [dbo].[extra] (extra_id, empleado_id, fecha, motivo) VALUES (3, 3, DATEADD( DAY, +8, @TiempoInicio), 'Incapacitacion');
	INSERT INTO [dbo].[extra] (extra_id, empleado_id, fecha, motivo) VALUES (4, 4, DATEADD( DAY, +7, @TiempoInicio), 'Incapacitacion');
	INSERT INTO [dbo].[extra] (extra_id, empleado_id, fecha, motivo) VALUES (5, 5, DATEADD( DAY, +6, @TiempoInicio), 'Incapacitacion');
	INSERT INTO [dbo].[extra] (extra_id, empleado_id, fecha, motivo) VALUES (6, 6, DATEADD( DAY, +5, @TiempoInicio), 'Incapacitacion');
	INSERT INTO [dbo].[extra] (extra_id, empleado_id, fecha, motivo) VALUES (7, 7, DATEADD( DAY, +4, @TiempoInicio), 'Incapacitacion');
	INSERT INTO [dbo].[extra] (extra_id, empleado_id, fecha, motivo) VALUES (8, 8, DATEADD( DAY, +3, @TiempoInicio), 'Incapacitacion');
	INSERT INTO [dbo].[extra] (extra_id, empleado_id, fecha, motivo) VALUES (9, 9, DATEADD( DAY, +2, @TiempoInicio), 'Incapacitacion');
	INSERT INTO [dbo].[extra] (extra_id, empleado_id, fecha, motivo) VALUES (10, 10, DATEADD( DAY, +1, @TiempoInicio), 'Incapacitacion');
	SET IDENTITY_INSERT [dbo].[extra] OFF;

	SET IDENTITY_INSERT [dbo].[historial] ON;
	INSERT INTO [dbo].[historial] (historial_id, empleado_id, persona_id, puesto_id, departamento_id, de_fecha, hasta_fecha) VALUES (1, 1, 1, 10, 10, DATEADD( MONTH, -10, @DiaContrato), @DiaContrato);
	INSERT INTO [dbo].[historial] (historial_id, empleado_id, persona_id, puesto_id, departamento_id, de_fecha, hasta_fecha) VALUES (2, 2, 2, 9, 9, DATEADD( MONTH, -10, @DiaContrato), @DiaContrato);
	INSERT INTO [dbo].[historial] (historial_id, empleado_id, persona_id, puesto_id, departamento_id, de_fecha, hasta_fecha) VALUES (3, 3, 3, 8, 8, DATEADD( MONTH, -10, @DiaContrato), @DiaContrato);
	INSERT INTO [dbo].[historial] (historial_id, empleado_id, persona_id, puesto_id, departamento_id, de_fecha, hasta_fecha) VALUES (4, 4, 4, 7, 7, DATEADD( MONTH, -10, @DiaContrato), @DiaContrato);
	INSERT INTO [dbo].[historial] (historial_id, empleado_id, persona_id, puesto_id, departamento_id, de_fecha, hasta_fecha) VALUES (5, 5, 5, 6, 6, DATEADD( MONTH, -10, @DiaContrato), @DiaContrato);
	INSERT INTO [dbo].[historial] (historial_id, empleado_id, persona_id, puesto_id, departamento_id, de_fecha, hasta_fecha) VALUES (6, 6, 6, 5, 5, DATEADD( MONTH, -10, @DiaContrato), @DiaContrato);
	INSERT INTO [dbo].[historial] (historial_id, empleado_id, persona_id, puesto_id, departamento_id, de_fecha, hasta_fecha) VALUES (7, 7, 7, 4, 4, DATEADD( MONTH, -10, @DiaContrato), @DiaContrato);
	INSERT INTO [dbo].[historial] (historial_id, empleado_id, persona_id, puesto_id, departamento_id, de_fecha, hasta_fecha) VALUES (8, 8, 8, 3, 3, DATEADD( MONTH, -10, @DiaContrato), @DiaContrato);
	INSERT INTO [dbo].[historial] (historial_id, empleado_id, persona_id, puesto_id, departamento_id, de_fecha, hasta_fecha) VALUES (9, 9, 9, 2, 2, DATEADD( MONTH, -10, @DiaContrato), @DiaContrato);
	INSERT INTO [dbo].[historial] (historial_id, empleado_id, persona_id, puesto_id, departamento_id, de_fecha, hasta_fecha) VALUES (10, 10, 10, 1, 1, DATEADD( MONTH, -10, @DiaContrato), @DiaContrato);
	SET IDENTITY_INSERT [dbo].[historial] OFF;

	SET IDENTITY_INSERT [dbo].[reunion] ON;
	DECLARE @EnSieteDias DATETIME =  DATEADD( DAY, +7, GETDATE() AT TIME ZONE 'Mountain Standard Time'); 
	DECLARE @Inicio TIME =  '08:00:00'
	DECLARE @Fin TIME = '10:00:00'
	INSERT INTO [dbo].[reunion] (reunion_id, empleado_id, fecha, hora_inicio, hora_fin) VALUES (1, 1, @EnSieteDias, @Inicio, @Fin);
	INSERT INTO [dbo].[reunion] (reunion_id, empleado_id, fecha, hora_inicio, hora_fin) VALUES (2, 2, @EnSieteDias, DATEADD( HOUR, +1, @Inicio), DATEADD( HOUR, +1, @Fin));
	INSERT INTO [dbo].[reunion] (reunion_id, empleado_id, fecha, hora_inicio, hora_fin) VALUES (3, 3, @EnSieteDias, DATEADD( HOUR, +2, @Inicio), DATEADD( HOUR, +2, @Fin));
	INSERT INTO [dbo].[reunion] (reunion_id, empleado_id, fecha, hora_inicio, hora_fin) VALUES (4, 4, @EnSieteDias, DATEADD( HOUR, +3, @Inicio), DATEADD( HOUR, +3, @Fin));
	INSERT INTO [dbo].[reunion] (reunion_id, empleado_id, fecha, hora_inicio, hora_fin) VALUES (5, 5, @EnSieteDias, DATEADD( HOUR, +4, @Inicio), DATEADD( HOUR, +4, @Fin));
	INSERT INTO [dbo].[reunion] (reunion_id, empleado_id, fecha, hora_inicio, hora_fin) VALUES (6, 6, @EnSieteDias, DATEADD( HOUR, +5, @Inicio), DATEADD( HOUR, +5, @Fin));
	INSERT INTO [dbo].[reunion] (reunion_id, empleado_id, fecha, hora_inicio, hora_fin) VALUES (7, 7, @EnSieteDias, DATEADD( HOUR, +6, @Inicio), DATEADD( HOUR, +6, @Fin));
	INSERT INTO [dbo].[reunion] (reunion_id, empleado_id, fecha, hora_inicio, hora_fin) VALUES (8, 8, @EnSieteDias, DATEADD( HOUR, +7, @Inicio), DATEADD( HOUR, +7, @Fin));
	INSERT INTO [dbo].[reunion] (reunion_id, empleado_id, fecha, hora_inicio, hora_fin) VALUES (9, 9, @EnSieteDias, DATEADD( HOUR, +8, @Inicio), DATEADD( HOUR, +8, @Fin));
	INSERT INTO [dbo].[reunion] (reunion_id, empleado_id, fecha, hora_inicio, hora_fin) VALUES (10, 10, @EnSieteDias, DATEADD( HOUR, +9, @Inicio), DATEADD( HOUR, +9, @Fin));
	SET IDENTITY_INSERT [dbo].[reunion] OFF;

	SET IDENTITY_INSERT [dbo].[evaluacion] ON;
	INSERT INTO [dbo].[evaluacion] (evaluacion_id, reunion_id, empleado_id, objetivo, seguimiento, retroalimentacion) VALUES (1, 1, 1, 'Objetivo 1', 'Seguimiento 1', 'Retroalimentacion 1');
	INSERT INTO [dbo].[evaluacion] (evaluacion_id, reunion_id, empleado_id, objetivo, seguimiento, retroalimentacion) VALUES (2, 2, 2, 'Objetivo 2', 'Seguimiento 2', 'Retroalimentacion 2');
	INSERT INTO [dbo].[evaluacion] (evaluacion_id, reunion_id, empleado_id, objetivo, seguimiento, retroalimentacion) VALUES (3, 3, 3, 'Objetivo 3', 'Seguimiento 3', 'Retroalimentacion 3');
	INSERT INTO [dbo].[evaluacion] (evaluacion_id, reunion_id, empleado_id, objetivo, seguimiento, retroalimentacion) VALUES (4, 4, 4, 'Objetivo 4', 'Seguimiento 4', 'Retroalimentacion 4');
	INSERT INTO [dbo].[evaluacion] (evaluacion_id, reunion_id, empleado_id, objetivo, seguimiento, retroalimentacion) VALUES (5, 5, 5, 'Objetivo 5', 'Seguimiento 5', 'Retroalimentacion 5');
	INSERT INTO [dbo].[evaluacion] (evaluacion_id, reunion_id, empleado_id, objetivo, seguimiento, retroalimentacion) VALUES (6, 6, 6, 'Objetivo 6', 'Seguimiento 6', 'Retroalimentacion 6');
	INSERT INTO [dbo].[evaluacion] (evaluacion_id, reunion_id, empleado_id, objetivo, seguimiento, retroalimentacion) VALUES (7, 7, 7, 'Objetivo 7', 'Seguimiento 7', 'Retroalimentacion 7');
	INSERT INTO [dbo].[evaluacion] (evaluacion_id, reunion_id, empleado_id, objetivo, seguimiento, retroalimentacion) VALUES (8, 8, 8, 'Objetivo 8', 'Seguimiento 8', 'Retroalimentacion 8');
	INSERT INTO [dbo].[evaluacion] (evaluacion_id, reunion_id, empleado_id, objetivo, seguimiento, retroalimentacion) VALUES (9, 9, 9, 'Objetivo 9', 'Seguimiento 9', 'Retroalimentacion 9');
	INSERT INTO [dbo].[evaluacion] (evaluacion_id, reunion_id, empleado_id, objetivo, seguimiento, retroalimentacion) VALUES (10, 10, 10, 'Objetivo 10', 'Seguimiento 10', 'Retroalimentacion 10');
	SET IDENTITY_INSERT [dbo].[evaluacion] OFF;
END
GO
/****** Object:  StoredProcedure [dbo].[stpInsertTurno]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpInsertTurno]
			    @empleado_id int
			   ,@tiempo_inicio time(0)
			   ,@tiempo_fin time(0)
AS
BEGIN
    SET NOCOUNT ON;
	INSERT INTO [dbo].[turno]
			   ([empleado_id]
			   ,[tiempo_inicio]
			   ,[tiempo_fin])
		 VALUES
			   (@empleado_id
			   ,@tiempo_inicio
			   ,@tiempo_fin)
END
GO
/****** Object:  StoredProcedure [dbo].[stpUpdateEmpleado]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpUpdateEmpleado]
		   @empleado_id int
		  ,@persona_id int
		  ,@departamento_id int
		  ,@puesto_id int
		  ,@desde_fecha datetime
AS
BEGIN
    SET NOCOUNT ON;
	UPDATE [dbo].[empleado]
	   SET [persona_id] = @persona_id
		  ,[departamento_id] = @departamento_id
		  ,[puesto_id] = @puesto_id
		  ,[desde_fecha] = @desde_fecha
	 WHERE [empleado_id] = @empleado_id
END
GO
/****** Object:  StoredProcedure [dbo].[stpUpdatePersona]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpUpdatePersona]
		 @persona_id int
		,@cedula varchar(12)
		,@nombre varchar(255)
		,@apellido varchar(255)
		,@direccion varchar(255)
		,@correo varchar(50)
		,@telefono varchar(50)
AS
BEGIN
    SET NOCOUNT ON;
	UPDATE [dbo].[persona]
	   SET [cedula] = @cedula
		  ,[nombre] = @nombre
		  ,[apellido] = @apellido
		  ,[direccion] = @direccion
		  ,[correo] = @correo
		  ,[telefono] = @telefono
	 WHERE persona_id = @persona_id
END
GO
/****** Object:  StoredProcedure [dbo].[stpUpdatePorcentaje]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpUpdatePorcentaje]
           @libre_deduccion decimal(5,2)
		   ,@extra_bonificacion decimal(5,2)
AS
BEGIN
    SET NOCOUNT ON;
	
	UPDATE [dbo].[porcentaje]
	   SET [libre_deduccion] = @libre_deduccion
		  ,[extra_bonificacion] = @extra_bonificacion
END
GO
/****** Object:  StoredProcedure [dbo].[stpUpdateSalarioEmpleado]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpUpdateSalarioEmpleado]
	     @salario_id int
		,@empleado_id int
		,@desde_fecha date
		,@hasta_fecha date
AS
BEGIN
    SET NOCOUNT ON;
	UPDATE [dbo].[salario]
	   SET [empleado_id] = @empleado_id
		  ,[desde_fecha] = @desde_fecha
		  ,[hasta_fecha] = @hasta_fecha
	 WHERE [salario_id] = @salario_id
END
GO
/****** Object:  StoredProcedure [dbo].[stpUpdateSalarioPuesto]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpUpdateSalarioPuesto]
            @puesto_id int
           ,@salario decimal(19,4)
AS
BEGIN
    SET NOCOUNT ON;
	UPDATE [dbo].[puesto]
    SET [salario] = @salario
	WHERE [puesto_id] = @puesto_id
END
GO
/****** Object:  StoredProcedure [dbo].[stpUpdateTurno]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpUpdateTurno]
			    @empleado_id int
			   ,@tiempo_inicio time(0)
			   ,@tiempo_fin time(0)
AS
BEGIN
    SET NOCOUNT ON;
	UPDATE [dbo].[turno]
	   SET [tiempo_inicio] = @tiempo_inicio
		  ,[tiempo_fin] = @tiempo_fin
	 WHERE [empleado_id] = @empleado_id
END
GO
/****** Object:  StoredProcedure [dbo].[stpVerifyCedula]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpVerifyCedula]
	@cedula VARCHAR(12)
AS
BEGIN
    SET NOCOUNT ON;
	SELECT cedula FROM persona WHERE cedula = @cedula;
END
GO
/****** Object:  StoredProcedure [dbo].[stpVerifyCorreo]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpVerifyCorreo]
	@correo VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
	SELECT correo FROM persona WHERE correo = @correo;
END
GO
/****** Object:  Trigger [dbo].[setDepartamentos]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[setDepartamentos]
ON [dbo].[departamento]
AFTER UPDATE, INSERT, DELETE
AS 
BEGIN
    SET NOCOUNT ON;

	IF TRIGGER_NESTLEVEL() > 1
	  RETURN

	DECLARE @rowCount int;

	SELECT @rowCount = COUNT(*) FROM departamento;

	IF (@rowCount = 0)
	  BEGIN
		SET IDENTITY_INSERT [dbo].[departamento] ON;
		INSERT INTO [dbo].[departamento] (departamento_id, descripcion) VALUES (1, 'Administracion');
		INSERT INTO [dbo].[departamento] (departamento_id, descripcion) VALUES (2, 'Contabilidad');
		INSERT INTO [dbo].[departamento] (departamento_id, descripcion) VALUES (3, 'Recursos Humanos');
		INSERT INTO [dbo].[departamento] (departamento_id, descripcion) VALUES (4, 'Mercadeo');
		INSERT INTO [dbo].[departamento] (departamento_id, descripcion) VALUES (5, 'Logistica');
		INSERT INTO [dbo].[departamento] (departamento_id, descripcion) VALUES (6, 'Tecnologia');
		INSERT INTO [dbo].[departamento] (departamento_id, descripcion) VALUES (7, 'Comunicaciones');
		INSERT INTO [dbo].[departamento] (departamento_id, descripcion) VALUES (8, 'Investigacion y Desarrollo');
		INSERT INTO [dbo].[departamento] (departamento_id, descripcion) VALUES (9, 'Legal');
		INSERT INTO [dbo].[departamento] (departamento_id, descripcion) VALUES (10, 'Soporte al Cliente');
		SET IDENTITY_INSERT [dbo].[departamento] OFF;
	  END
END
GO
ALTER TABLE [dbo].[departamento] ENABLE TRIGGER [setDepartamentos]
GO
/****** Object:  Trigger [dbo].[copyToHistorial]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[copyToHistorial]
ON [dbo].[empleado]
AFTER UPDATE
AS 
BEGIN   
    SET NOCOUNT ON;
	
	IF TRIGGER_NESTLEVEL() > 1
	  RETURN

	DECLARE @COUNT int;

	SELECT @COUNT = COUNT(*) FROM deleted;	

	BEGIN
		WHILE(@COUNT >= 1)
		BEGIN
			
			DECLARE @DiaCambio DATETIME =  GETDATE() AT TIME ZONE 'Mountain Standard Time';
			
			INSERT INTO historial(empleado_id, persona_id, puesto_id, departamento_id, de_fecha, hasta_fecha)
			SELECT empleado_id, persona_id, puesto_id, departamento_id, desde_fecha, @DiaCambio FROM
								(
									SELECT ROW_NUMBER() OVER (ORDER BY empleado_id DESC) AS ROWNUM
									, *
									FROM deleted
								) 
								deleted WHERE ROWNUM = @COUNT;

			SET @COUNT = @COUNT - 1;
		END
	END
END
GO
ALTER TABLE [dbo].[empleado] ENABLE TRIGGER [copyToHistorial]
GO
/****** Object:  Trigger [dbo].[setBonificacion]    Script Date: 19/08/2024 2:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[setBonificacion]
ON [dbo].[extra]
AFTER UPDATE, INSERT, DELETE
AS 
BEGIN
	--IF TRIGGER_NESTLEVEL() > 1
		--RETURN    
    SET NOCOUNT ON;
	
	DECLARE @empleado_id int;
	DECLARE @salario_base DECIMAL(19,4);
	DECLARE @bonificacion DECIMAL(19,4);
	DECLARE @fecha DATE;

	DECLARE @COUNT int;
	SELECT @COUNT = COUNT(*) FROM inserted;
	WHILE(@COUNT >= 1)
	BEGIN
		SELECT @empleado_id = fltr.empleado_id
		FROM (SELECT ROW_NUMBER() OVER (ORDER BY empleado_id DESC) AS ROWNO, empleado_id
				FROM inserted ) fltr
		WHERE ROWNO = @COUNT;

		SELECT @salario_base = _base FROM salario WHERE empleado_id = @empleado_id;
		SET @bonificacion = dbo.getBonificacion(@empleado_id, @salario_base);
		SELECT @fecha = fecha FROM inserted;

		UPDATE [dbo].[salario]
		SET bonificacion = @bonificacion
		WHERE (empleado_id = @empleado_id)
		AND (desde_fecha <= @fecha)
		AND (hasta_fecha >= @fecha)

		SET @COUNT = @COUNT - 1;
	END
END
GO
ALTER TABLE [dbo].[extra] ENABLE TRIGGER [setBonificacion]
GO
/****** Object:  Trigger [dbo].[setDeduccion]    Script Date: 19/08/2024 2:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[setDeduccion]
ON [dbo].[libre]
AFTER UPDATE, INSERT, DELETE
AS 
BEGIN
	--IF TRIGGER_NESTLEVEL() > 1
		--RETURN    
	SET NOCOUNT ON;
	
	DECLARE @empleado_id int;
	DECLARE @salario_base DECIMAL(19,4);
	DECLARE @deduccion DECIMAL(19,4);
	DECLARE @fecha DATE;

	DECLARE @COUNT int;
	SELECT @COUNT = COUNT(*) FROM inserted;
	WHILE(@COUNT >= 1)
	BEGIN
		SELECT @empleado_id = fltr.empleado_id
		FROM (SELECT ROW_NUMBER() OVER (ORDER BY empleado_id DESC) AS ROWNO, empleado_id
				FROM inserted ) fltr
		WHERE ROWNO = @COUNT;

		SELECT @salario_base = _base FROM salario WHERE empleado_id = @empleado_id;
		SET @deduccion = dbo.getDeduccion(@empleado_id, @salario_base);
		SELECT @fecha = fecha FROM inserted;

		UPDATE [dbo].[salario]
		SET deduccion = @deduccion 
		WHERE (empleado_id = @empleado_id)
		AND (desde_fecha <= @fecha)
		AND (hasta_fecha >= @fecha)

		SET @COUNT = @COUNT - 1;
	END
END
GO
ALTER TABLE [dbo].[libre] ENABLE TRIGGER [setDeduccion]
GO
/****** Object:  Trigger [dbo].[setPermisos]    Script Date: 19/08/2024 2:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[setPermisos]
ON [dbo].[permiso]
AFTER UPDATE, INSERT, DELETE
AS 
BEGIN   
    SET NOCOUNT ON;
	
	IF TRIGGER_NESTLEVEL() > 1
	  RETURN

	DECLARE @rowCount int;

	SELECT @rowCount = COUNT(*) FROM permiso;

	IF (@rowCount = 0)
	  BEGIN
		SET IDENTITY_INSERT [dbo].[permiso] ON;
		INSERT INTO [dbo].[permiso] (permiso_id, descripcion) VALUES (1, 'Acceso Total');
		INSERT INTO [dbo].[permiso] (permiso_id, descripcion) VALUES (2, 'Ejecucion');
		INSERT INTO [dbo].[permiso] (permiso_id, descripcion) VALUES (3, 'Escritura');
		INSERT INTO [dbo].[permiso] (permiso_id, descripcion) VALUES (4, 'Lectura');
		INSERT INTO [dbo].[permiso] (permiso_id, descripcion) VALUES (5, 'Ninguno');
		SET IDENTITY_INSERT [dbo].[permiso] OFF;
	  END
END
GO
ALTER TABLE [dbo].[permiso] ENABLE TRIGGER [setPermisos]
GO
/****** Object:  Trigger [dbo].[setPorcentajes]    Script Date: 19/08/2024 2:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[setPorcentajes]
ON [dbo].[porcentaje]
AFTER UPDATE, INSERT, DELETE
AS 
BEGIN   
    SET NOCOUNT ON;
	
	IF TRIGGER_NESTLEVEL() > 1
	  RETURN
	
	DECLARE @rowCount int;

	SELECT @rowCount = COUNT(*) FROM porcentaje;

	IF (@rowCount = 0)
	  BEGIN
		SET IDENTITY_INSERT [dbo].[porcentaje] ON;
		INSERT INTO [dbo].[porcentaje] (porcentaje_id, libre_deduccion, extra_bonificacion) VALUES (1, 3.2, 3.2);
		SET IDENTITY_INSERT [dbo].[porcentaje] OFF;
	  END
END
GO
ALTER TABLE [dbo].[porcentaje] ENABLE TRIGGER [setPorcentajes]
GO
/****** Object:  Trigger [dbo].[triggerSalarioUpdate]    Script Date: 19/08/2024 2:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[triggerSalarioUpdate]
ON [dbo].[porcentaje]
AFTER UPDATE
AS 
BEGIN   
    SET NOCOUNT ON;
	-- script sin efecto, solo para disparar la actualizacion de salarios
	UPDATE libre SET empleado_id = empleado_id;
	UPDATE extra SET empleado_id = empleado_id;
END
GO
ALTER TABLE [dbo].[porcentaje] ENABLE TRIGGER [triggerSalarioUpdate]
GO
/****** Object:  Trigger [dbo].[setPuestos]    Script Date: 19/08/2024 2:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[setPuestos]
ON [dbo].[puesto]
AFTER UPDATE, INSERT, DELETE
AS 
BEGIN   
    SET NOCOUNT ON;
	
	IF TRIGGER_NESTLEVEL() > 1
	  RETURN
	
	DECLARE @rowCount int;

	SELECT @rowCount = COUNT(*) FROM puesto;

	IF (@rowCount = 0)
	  BEGIN
		SET IDENTITY_INSERT [dbo].[puesto] ON;
		INSERT INTO [dbo].[puesto] (puesto_id, descripcion, salario) VALUES (1, 'Director General', 10500000);
		INSERT INTO [dbo].[puesto] (puesto_id, descripcion, salario) VALUES (2, 'Gerente General', 10000000);
		INSERT INTO [dbo].[puesto] (puesto_id, descripcion, salario) VALUES (3, 'Coordinador de Departamento', 8000000);
		INSERT INTO [dbo].[puesto] (puesto_id, descripcion, salario) VALUES (4, 'Diseñador', 5000000);
		INSERT INTO [dbo].[puesto] (puesto_id, descripcion, salario) VALUES (5, 'Redactor', 5000000);
		INSERT INTO [dbo].[puesto] (puesto_id, descripcion, salario) VALUES (6, 'Agente de Ventas', 2000000);
		INSERT INTO [dbo].[puesto] (puesto_id, descripcion, salario) VALUES (7, 'Contador', 2000000);
		INSERT INTO [dbo].[puesto] (puesto_id, descripcion, salario) VALUES (8, 'Programador', 5000000);
		INSERT INTO [dbo].[puesto] (puesto_id, descripcion, salario) VALUES (9, 'Auditor', 5000000);
		INSERT INTO [dbo].[puesto] (puesto_id, descripcion, salario) VALUES (10, 'Supervisor de Calidad', 5000000);
		INSERT INTO [dbo].[puesto] (puesto_id, descripcion, salario) VALUES (11, 'Analista de Negocios', 2000000);
		INSERT INTO [dbo].[puesto] (puesto_id, descripcion, salario) VALUES (12, 'Recursos Humanos', 2000000);
		INSERT INTO [dbo].[puesto] (puesto_id, descripcion, salario) VALUES (13, 'Secretario', 2000000);
		INSERT INTO [dbo].[puesto] (puesto_id, descripcion, salario) VALUES (14, 'Asistente', 1000000);
		INSERT INTO [dbo].[puesto] (puesto_id, descripcion, salario) VALUES (15, 'Operador', 500000);
		SET IDENTITY_INSERT [dbo].[puesto] OFF;
	  END
END
GO
ALTER TABLE [dbo].[puesto] ENABLE TRIGGER [setPuestos]
GO
/****** Object:  Trigger [dbo].[triggerUpdate]    Script Date: 19/08/2024 2:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[triggerUpdate]
ON [dbo].[puesto]
AFTER UPDATE, INSERT, DELETE
AS 
BEGIN   
    SET NOCOUNT ON;
	-- script sin efecto, solo para disparar la actualizacion de salarios base
	UPDATE salario SET empleado_id = empleado_id;
END
GO
ALTER TABLE [dbo].[puesto] ENABLE TRIGGER [triggerUpdate]
GO
/****** Object:  Trigger [dbo].[setRoles]    Script Date: 19/08/2024 2:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[setRoles]
ON [dbo].[rol]
AFTER UPDATE, INSERT, DELETE
AS 
BEGIN   
    SET NOCOUNT ON;

	IF TRIGGER_NESTLEVEL() > 1
	  RETURN

	DECLARE @rowCount int;

	SELECT @rowCount = COUNT(*) FROM rol;

	IF (@rowCount = 0)
	  BEGIN
		SET IDENTITY_INSERT [dbo].[rol] ON;
		INSERT INTO [dbo].[rol] (rol_id, descripcion) VALUES (1, 'Proprietario');
		INSERT INTO [dbo].[rol] (rol_id, descripcion) VALUES (2, 'Administrador');
		INSERT INTO [dbo].[rol] (rol_id, descripcion) VALUES (3, 'Contribuidor');
		INSERT INTO [dbo].[rol] (rol_id, descripcion) VALUES (4, 'Lector');
		INSERT INTO [dbo].[rol] (rol_id, descripcion) VALUES (5, 'Invitado');
		SET IDENTITY_INSERT [dbo].[rol] OFF;
	  END
END
GO
ALTER TABLE [dbo].[rol] ENABLE TRIGGER [setRoles]
GO
/****** Object:  Trigger [dbo].[setSalarioBase]    Script Date: 19/08/2024 2:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[setSalarioBase]
ON [dbo].[salario]
AFTER UPDATE, INSERT, DELETE
AS 
BEGIN
	-- NUNCA PONER DOS TRIGGER UPDATE EN LA MISMA TABLA
	-- NUNCA PONER UNA OPERACION UPDATE DENTRO DE UN TRIGGER UPDATE
	--se evita que el trigger reingrese en si mismo
	--IF TRIGGER_NESTLEVEL() > 1
		--RETURN

	SET NOCOUNT ON;

	DECLARE @salario_id int;
	DECLARE @empleado_id int;
	DECLARE @puesto_id int;
	DECLARE @salario_base DECIMAL(19,4);

	DECLARE @COUNT int;
	SELECT @COUNT = COUNT(*) FROM inserted;
	WHILE(@COUNT >= 1)
	BEGIN

		SELECT @salario_id = salario_id FROM
							(
								SELECT ROW_NUMBER() OVER (ORDER BY salario_id DESC) AS ROWNUM
								, *
								FROM inserted
							) 
							inserted WHERE ROWNUM = @COUNT;

		SELECT @empleado_id = empleado_id FROM
							(
								SELECT ROW_NUMBER() OVER (ORDER BY salario_id DESC) AS ROWNUM
								, *
								FROM inserted
							) 
							inserted WHERE ROWNUM = @COUNT;

		SELECT @puesto_id = p.puesto_id FROM puesto AS p
							INNER JOIN empleado AS e 
							ON p.puesto_id = e.puesto_id
							WHERE e.empleado_id = @empleado_id;

		SELECT @salario_base = p.salario FROM puesto AS p
							   WHERE p.puesto_id = @puesto_id;

		UPDATE [dbo].[salario]
		SET _base = @salario_base WHERE salario_id = @salario_id;
		
		SET @COUNT = @COUNT - 1;

	END
END
GO
ALTER TABLE [dbo].[salario] ENABLE TRIGGER [setSalarioBase]
GO
USE [master]
GO
