/****** Object:  Database [chaves-dayron-proyecto2-3101_db]    Script Date: 14/08/2024 14:52:03 ******/
CREATE DATABASE [chaves-dayron-proyecto2-3101_db]  (EDITION = 'Standard', SERVICE_OBJECTIVE = 'S0', MAXSIZE = 1 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[departamento]    Script Date: 14/08/2024 14:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departamento](
	[departamento_id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](255) NOT NULL,
 CONSTRAINT [PK_departamento] PRIMARY KEY CLUSTERED 
(
	[departamento_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empleado]    Script Date: 14/08/2024 14:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleado](
	[empleado_id] [int] IDENTITY(1,1) NOT NULL,
	[persona_id] [int] NOT NULL,
	[departamento_id] [int] NOT NULL,
	[puesto_id] [int] NOT NULL,
	[desde_fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_empleado] PRIMARY KEY CLUSTERED 
(
	[empleado_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[evaluacion]    Script Date: 14/08/2024 14:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[evaluacion](
	[evaluacion_id] [int] IDENTITY(1,1) NOT NULL,
	[reunion_id] [int] NOT NULL,
	[empleado_id] [int] NOT NULL,
	[objetivo] [varchar](255) NOT NULL,
	[seguimiento] [varchar](255) NOT NULL,
	[retroalimentacion] [varchar](255) NOT NULL,
 CONSTRAINT [PK_evaluacion] PRIMARY KEY CLUSTERED 
(
	[evaluacion_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[historial]    Script Date: 14/08/2024 14:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[historial](
	[historial_id] [int] IDENTITY(1,1) NOT NULL,
	[empleado_id] [int] NOT NULL,
	[puesto_id] [int] NOT NULL,
	[departamento_id] [int] NOT NULL,
	[de_fecha] [date] NOT NULL,
	[hasta_fecha] [date] NOT NULL,
 CONSTRAINT [PK_historial] PRIMARY KEY CLUSTERED 
(
	[historial_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[libre]    Script Date: 14/08/2024 14:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[libre](
	[libre_id] [int] IDENTITY(1,1) NOT NULL,
	[empleado_id] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[motivo] [varchar](255) NOT NULL,
 CONSTRAINT [PK_libre] PRIMARY KEY CLUSTERED 
(
	[libre_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permiso]    Script Date: 14/08/2024 14:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permiso](
	[permiso_id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](255) NOT NULL,
 CONSTRAINT [PK_permiso] PRIMARY KEY CLUSTERED 
(
	[permiso_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permiso_empleado]    Script Date: 14/08/2024 14:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permiso_empleado](
	[permiso_id] [int] NOT NULL,
	[empleado_id] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[persona]    Script Date: 14/08/2024 14:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[persona](
	[persona_id] [int] IDENTITY(1,1) NOT NULL,
	[cedula] [varchar](12) NOT NULL,
	[nombre] [varchar](255) NOT NULL,
	[apellido] [varchar](255) NOT NULL,
	[direccion] [varchar](255) NOT NULL,
	[correo] [varchar](50) NOT NULL,
	[telefono] [varchar](50) NOT NULL,
 CONSTRAINT [PK_persona] PRIMARY KEY CLUSTERED 
(
	[persona_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[puesto]    Script Date: 14/08/2024 14:52:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[puesto](
	[puesto_id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](255) NOT NULL,
 CONSTRAINT [PK_puesto] PRIMARY KEY CLUSTERED 
(
	[puesto_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reunion]    Script Date: 14/08/2024 14:52:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reunion](
	[reunion_id] [int] NOT NULL,
	[empleado_id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[hora_inicio] [time](0) NOT NULL,
	[hora_fin] [time](0) NOT NULL,
 CONSTRAINT [PK_reunion] PRIMARY KEY CLUSTERED 
(
	[reunion_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rol]    Script Date: 14/08/2024 14:52:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rol](
	[rol_id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](255) NOT NULL,
 CONSTRAINT [PK_rol] PRIMARY KEY CLUSTERED 
(
	[rol_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rol_empleado]    Script Date: 14/08/2024 14:52:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rol_empleado](
	[rol_id] [int] NOT NULL,
	[empleado_id] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[salario]    Script Date: 14/08/2024 14:52:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[salario](
	[salario_id] [int] IDENTITY(1,1) NOT NULL,
	[empleado_id] [int] NOT NULL,
	[base] [decimal](19, 4) NOT NULL,
	[bonificacion] [decimal](19, 4) NOT NULL,
	[deduccion] [decimal](19, 4) NOT NULL,
	[final]  AS (([base]+[bonificacion])-[deduccion]) PERSISTED,
	[desde_fecha] [date] NOT NULL,
	[hasta_fecha] [date] NOT NULL,
 CONSTRAINT [PK_salario] PRIMARY KEY CLUSTERED 
(
	[salario_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[turno]    Script Date: 14/08/2024 14:52:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[turno](
	[turno_id] [int] IDENTITY(1,1) NOT NULL,
	[empleado_id] [int] NOT NULL,
	[tiempo_inicio] [datetime] NOT NULL,
	[tiempo_fin] [datetime] NOT NULL,
 CONSTRAINT [PK_turno] PRIMARY KEY CLUSTERED 
(
	[turno_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[empleado]  WITH CHECK ADD  CONSTRAINT [FK_empleado_departamento] FOREIGN KEY([empleado_id])
REFERENCES [dbo].[departamento] ([departamento_id])
GO
ALTER TABLE [dbo].[empleado] CHECK CONSTRAINT [FK_empleado_departamento]
GO
ALTER TABLE [dbo].[empleado]  WITH CHECK ADD  CONSTRAINT [FK_empleado_persona] FOREIGN KEY([persona_id])
REFERENCES [dbo].[persona] ([persona_id])
GO
ALTER TABLE [dbo].[empleado] CHECK CONSTRAINT [FK_empleado_persona]
GO
ALTER TABLE [dbo].[empleado]  WITH CHECK ADD  CONSTRAINT [FK_empleado_puesto] FOREIGN KEY([empleado_id])
REFERENCES [dbo].[puesto] ([puesto_id])
GO
ALTER TABLE [dbo].[empleado] CHECK CONSTRAINT [FK_empleado_puesto]
GO
ALTER TABLE [dbo].[evaluacion]  WITH CHECK ADD  CONSTRAINT [FK_evaluacion_empleado] FOREIGN KEY([empleado_id])
REFERENCES [dbo].[empleado] ([empleado_id])
GO
ALTER TABLE [dbo].[evaluacion] CHECK CONSTRAINT [FK_evaluacion_empleado]
GO
ALTER TABLE [dbo].[evaluacion]  WITH CHECK ADD  CONSTRAINT [FK_evaluacion_reunion] FOREIGN KEY([reunion_id])
REFERENCES [dbo].[reunion] ([reunion_id])
GO
ALTER TABLE [dbo].[evaluacion] CHECK CONSTRAINT [FK_evaluacion_reunion]
GO
ALTER TABLE [dbo].[historial]  WITH CHECK ADD  CONSTRAINT [FK_historial_departamento] FOREIGN KEY([departamento_id])
REFERENCES [dbo].[departamento] ([departamento_id])
GO
ALTER TABLE [dbo].[historial] CHECK CONSTRAINT [FK_historial_departamento]
GO
ALTER TABLE [dbo].[historial]  WITH CHECK ADD  CONSTRAINT [FK_historial_empleado] FOREIGN KEY([empleado_id])
REFERENCES [dbo].[empleado] ([empleado_id])
GO
ALTER TABLE [dbo].[historial] CHECK CONSTRAINT [FK_historial_empleado]
GO
ALTER TABLE [dbo].[historial]  WITH CHECK ADD  CONSTRAINT [FK_historial_puesto] FOREIGN KEY([puesto_id])
REFERENCES [dbo].[puesto] ([puesto_id])
GO
ALTER TABLE [dbo].[historial] CHECK CONSTRAINT [FK_historial_puesto]
GO
ALTER TABLE [dbo].[libre]  WITH CHECK ADD  CONSTRAINT [FK_libre_empleado] FOREIGN KEY([empleado_id])
REFERENCES [dbo].[empleado] ([empleado_id])
GO
ALTER TABLE [dbo].[libre] CHECK CONSTRAINT [FK_libre_empleado]
GO
ALTER TABLE [dbo].[permiso_empleado]  WITH CHECK ADD  CONSTRAINT [FK_permiso_empleado_empleado] FOREIGN KEY([empleado_id])
REFERENCES [dbo].[empleado] ([empleado_id])
GO
ALTER TABLE [dbo].[permiso_empleado] CHECK CONSTRAINT [FK_permiso_empleado_empleado]
GO
ALTER TABLE [dbo].[permiso_empleado]  WITH CHECK ADD  CONSTRAINT [FK_permiso_empleado_permiso] FOREIGN KEY([permiso_id])
REFERENCES [dbo].[permiso] ([permiso_id])
GO
ALTER TABLE [dbo].[permiso_empleado] CHECK CONSTRAINT [FK_permiso_empleado_permiso]
GO
ALTER TABLE [dbo].[reunion]  WITH CHECK ADD  CONSTRAINT [FK_reunion_empleado] FOREIGN KEY([empleado_id])
REFERENCES [dbo].[empleado] ([empleado_id])
GO
ALTER TABLE [dbo].[reunion] CHECK CONSTRAINT [FK_reunion_empleado]
GO
ALTER TABLE [dbo].[rol_empleado]  WITH CHECK ADD  CONSTRAINT [FK_rol_empleado_empleado] FOREIGN KEY([empleado_id])
REFERENCES [dbo].[empleado] ([empleado_id])
GO
ALTER TABLE [dbo].[rol_empleado] CHECK CONSTRAINT [FK_rol_empleado_empleado]
GO
ALTER TABLE [dbo].[rol_empleado]  WITH CHECK ADD  CONSTRAINT [FK_rol_empleado_rol] FOREIGN KEY([rol_id])
REFERENCES [dbo].[rol] ([rol_id])
GO
ALTER TABLE [dbo].[rol_empleado] CHECK CONSTRAINT [FK_rol_empleado_rol]
GO
ALTER TABLE [dbo].[salario]  WITH CHECK ADD  CONSTRAINT [FK_salario_empleado] FOREIGN KEY([empleado_id])
REFERENCES [dbo].[empleado] ([empleado_id])
GO
ALTER TABLE [dbo].[salario] CHECK CONSTRAINT [FK_salario_empleado]
GO
ALTER TABLE [dbo].[turno]  WITH CHECK ADD  CONSTRAINT [FK_turno_empleado] FOREIGN KEY([empleado_id])
REFERENCES [dbo].[empleado] ([empleado_id])
GO
ALTER TABLE [dbo].[turno] CHECK CONSTRAINT [FK_turno_empleado]
GO
/****** Object:  StoredProcedure [dbo].[sp_MSforeach_worker]    Script Date: 14/08/2024 14:52:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_MSforeach_worker]
	@command1 nvarchar(2000), @replacechar nchar(1) = N'?', @command2 nvarchar(2000) = null, @command3 nvarchar(2000) = null, @worker_type int =1
as

	create table #qtemp (	/* Temp command storage */
		qnum				int				NOT NULL,
		qchar				nvarchar(2000)	COLLATE database_default NULL
	)

	set nocount on
	declare @name nvarchar(517), @namelen int, @q1 nvarchar(2000), @q2 nvarchar(2000)
   declare @q3 nvarchar(2000), @q4 nvarchar(2000), @q5 nvarchar(2000)
	declare @q6 nvarchar(2000), @q7 nvarchar(2000), @q8 nvarchar(2000), @q9 nvarchar(2000), @q10 nvarchar(2000)
	declare @cmd nvarchar(2000), @replacecharindex int, @useq tinyint, @usecmd tinyint, @nextcmd nvarchar(2000)
   declare @namesave nvarchar(517), @nametmp nvarchar(517), @nametmp2 nvarchar(258)

	declare @local_cursor cursor
	if @worker_type=1	
		set @local_cursor = hCForEachDatabase
	else
		set @local_cursor = hCForEachTable
	
	open @local_cursor
	fetch @local_cursor into @name

	while (@@fetch_status >= 0) begin

      select @namesave = @name
		select @useq = 1, @usecmd = 1, @cmd = @command1, @namelen = datalength(@name)
		while (@cmd is not null) begin		/* Generate @q* for exec() */
			select @replacecharindex = charindex(@replacechar, @cmd)
			while (@replacecharindex <> 0) begin

            /* 7.0, if name contains ' character, and the name has been single quoted in command, double all of them in dbname */
            /* if the name has not been single quoted in command, do not doulbe them */
            /* if name contains ] character, and the name has been [] quoted in command, double all of ] in dbname */
            select @name = @namesave
            select @namelen = datalength(@name)
            declare @tempindex int
            if (substring(@cmd, @replacecharindex - 1, 1) = N'''') begin
               /* if ? is inside of '', we need to double all the ' in name */
               select @name = REPLACE(@name, N'''', N'''''')
            end else if (substring(@cmd, @replacecharindex - 1, 1) = N'[') begin
               /* if ? is inside of [], we need to double all the ] in name */
               select @name = REPLACE(@name, N']', N']]')
            end else if ((@name LIKE N'%].%]') and (substring(@name, 1, 1) = N'[')) begin
               /* ? is NOT inside of [] nor '', and the name is in [owner].[name] format, handle it */
               /* !!! work around, when using LIKE to find string pattern, can't use '[', since LIKE operator is treating '[' as a wide char */
               select @tempindex = charindex(N'].[', @name)
               select @nametmp  = substring(@name, 2, @tempindex-2 )
               select @nametmp2 = substring(@name, @tempindex+3, len(@name)-@tempindex-3 )
               select @nametmp  = REPLACE(@nametmp, N']', N']]')
               select @nametmp2 = REPLACE(@nametmp2, N']', N']]')
               select @name = N'[' + @nametmp + N'].[' + @nametmp2 + ']'
            end else if ((@name LIKE N'%]') and (substring(@name, 1, 1) = N'[')) begin
               /* ? is NOT inside of [] nor '', and the name is in [name] format, handle it */
               /* j.i.c., since we should not fall into this case */
               /* !!! work around, when using LIKE to find string pattern, can't use '[', since LIKE operator is treating '[' as a wide char */
               select @nametmp = substring(@name, 2, len(@name)-2 )
               select @nametmp = REPLACE(@nametmp, N']', N']]')
               select @name = N'[' + @nametmp + N']'
            end
            /* Get the new length */
            select @namelen = datalength(@name)

            /* start normal process */
				if (datalength(@cmd) + @namelen - 1 > 2000) begin
					/* Overflow; put preceding stuff into the temp table */
					if (@useq > 9) begin
						close @local_cursor
						if @worker_type=1	
							deallocate hCForEachDatabase
						else
							deallocate hCForEachTable
						return 1
					end
					if (@replacecharindex < @namelen) begin
						/* If this happened close to beginning, make sure expansion has enough room. */
						/* In this case no trailing space can occur as the row ends with @name. */
						select @nextcmd = substring(@cmd, 1, @replacecharindex)
						select @cmd = substring(@cmd, @replacecharindex + 1, 2000)
						select @nextcmd = stuff(@nextcmd, @replacecharindex, 1, @name)
						select @replacecharindex = charindex(@replacechar, @cmd)
						insert #qtemp values (@useq, @nextcmd)
						select @useq = @useq + 1
						continue
					end
					/* Move the string down and stuff() in-place. */
					/* Because varchar columns trim trailing spaces, we may need to prepend one to the following string. */
					/* In this case, the char to be replaced is moved over by one. */
					insert #qtemp values (@useq, substring(@cmd, 1, @replacecharindex - 1))
					if (substring(@cmd, @replacecharindex - 1, 1) = N' ') begin
						select @cmd = N' ' + substring(@cmd, @replacecharindex, 2000)
						select @replacecharindex = 2
					end else begin
						select @cmd = substring(@cmd, @replacecharindex, 2000)
						select @replacecharindex = 1
					end
					select @useq = @useq + 1
				end
				select @cmd = stuff(@cmd, @replacecharindex, 1, @name)
				select @replacecharindex = charindex(@replacechar, @cmd)
			end

			/* Done replacing for current @cmd.  Get the next one and see if it's to be appended. */
			select @usecmd = @usecmd + 1
			select @nextcmd = case (@usecmd) when 2 then @command2 when 3 then @command3 else null end
			if (@nextcmd is not null and substring(@nextcmd, 1, 2) = N'++') begin
				insert #qtemp values (@useq, @cmd)
				select @cmd = substring(@nextcmd, 3, 2000), @useq = @useq + 1
				continue
			end

			/* Now exec() the generated @q*, and see if we had more commands to exec().  Continue even if errors. */
			/* Null them first as the no-result-set case won't. */
			select @q1 = null, @q2 = null, @q3 = null, @q4 = null, @q5 = null, @q6 = null, @q7 = null, @q8 = null, @q9 = null, @q10 = null
			select @q1 = qchar from #qtemp where qnum = 1
			select @q2 = qchar from #qtemp where qnum = 2
			select @q3 = qchar from #qtemp where qnum = 3
			select @q4 = qchar from #qtemp where qnum = 4
			select @q5 = qchar from #qtemp where qnum = 5
			select @q6 = qchar from #qtemp where qnum = 6
			select @q7 = qchar from #qtemp where qnum = 7
			select @q8 = qchar from #qtemp where qnum = 8
			select @q9 = qchar from #qtemp where qnum = 9
			select @q10 = qchar from #qtemp where qnum = 10
			truncate table #qtemp
			exec (@q1 + @q2 + @q3 + @q4 + @q5 + @q6 + @q7 + @q8 + @q9 + @q10 + @cmd)
			select @cmd = @nextcmd, @useq = 1
		end
    fetch @local_cursor into @name
	end /* while FETCH_SUCCESS */
	close @local_cursor
	if @worker_type=1	
		deallocate hCForEachDatabase
	else
		deallocate hCForEachTable
		
	return 0

GO
/****** Object:  StoredProcedure [dbo].[sp_MSforeachtable]    Script Date: 14/08/2024 14:52:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[sp_MSforeachtable]
	@command1 nvarchar(2000), @replacechar nchar(1) = N'?', @command2 nvarchar(2000) = null,
  @command3 nvarchar(2000) = null, @whereand nvarchar(2000) = null,
	@precommand nvarchar(2000) = null, @postcommand nvarchar(2000) = null
AS
	declare @mscat nvarchar(12)
	select @mscat = ltrim(str(convert(int, 0x0002)))
	if (@precommand is not null)
		exec(@precommand)
   exec(N'declare hCForEachTable cursor global for select ''['' + REPLACE(schema_name(syso.schema_id), N'']'', N'']]'') + '']'' + ''.'' + ''['' + REPLACE(object_name(o.id), N'']'', N'']]'') + '']'' from dbo.sysobjects o join sys.all_objects syso on o.id = syso.object_id '
         + N' where OBJECTPROPERTY(o.id, N''IsUserTable'') = 1 ' + N' and o.category & ' + @mscat + N' = 0 '
         + @whereand)
	declare @retval int
	select @retval = @@error
	if (@retval = 0)
		exec @retval = dbo.sp_MSforeach_worker @command1, @replacechar, @command2, @command3, 0
	if (@retval = 0 and @postcommand is not null)
		exec(@postcommand)
	return @retval
GO
/****** Object:  StoredProcedure [dbo].[stpCreateAllTables]    Script Date: 14/08/2024 14:52:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stpCreateAllTables]
AS
BEGIN
    SET NOCOUNT ON
	SET ANSI_NULLS ON
	SET QUOTED_IDENTIFIER ON
	
	CREATE TABLE [dbo].[departamento](
		[departamento_id] [int] IDENTITY(1,1) NOT NULL,
		[descripcion] [varchar](255) NOT NULL,
	 CONSTRAINT [PK_departamento] PRIMARY KEY CLUSTERED 
	(
		[departamento_id] ASC
	)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]

	CREATE TABLE [dbo].[empleado](
		[empleado_id] [int] IDENTITY(1,1) NOT NULL,
		[persona_id] [int] NOT NULL,
		[departamento_id] [int] NOT NULL,
		[puesto_id] [int] NOT NULL,
	 CONSTRAINT [PK_empleado] PRIMARY KEY CLUSTERED 
	(
		[empleado_id] ASC
	)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]

	CREATE TABLE [dbo].[evaluacion](
		[id_evaluacion] [int] IDENTITY(1,1) NOT NULL,
		[objetivo] [varchar](255) NOT NULL,
		[seguimiento] [varchar](255) NOT NULL,
		[retroalimentacion] [varchar](255) NOT NULL,
	 CONSTRAINT [PK_evaluacion] PRIMARY KEY CLUSTERED 
	(
		[id_evaluacion] ASC
	)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]

	CREATE TABLE [dbo].[historial](
		[historial_id] [int] IDENTITY(1,1) NOT NULL,
		[empleado_id] [int] NOT NULL,
		[puesto_id] [int] NOT NULL,
		[departamento_id] [int] NOT NULL,
		[de_fecha] [date] NOT NULL,
		[hasta_fecha] [date] NOT NULL,
	 CONSTRAINT [PK_historial] PRIMARY KEY CLUSTERED 
	(
		[historial_id] ASC
	)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]

	CREATE TABLE [dbo].[libre](
		[libre_id] [int] IDENTITY(1,1) NOT NULL,
		[empleado_id] [int] NOT NULL,
		[fecha] [date] NOT NULL,
		[motivo] [varchar](255) NOT NULL,
	 CONSTRAINT [PK_libre] PRIMARY KEY CLUSTERED 
	(
		[libre_id] ASC
	)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]

	CREATE TABLE [dbo].[permiso](
		[permiso_id] [int] IDENTITY(1,1) NOT NULL,
		[descripcion] [varchar](255) NOT NULL,
	 CONSTRAINT [PK_permiso] PRIMARY KEY CLUSTERED 
	(
		[permiso_id] ASC
	)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]

	CREATE TABLE [dbo].[permiso_empleado](
		[permiso_id] [int] NOT NULL,
		[empleado_id] [int] IDENTITY(1,1) NOT NULL
	) ON [PRIMARY]

	CREATE TABLE [dbo].[persona](
		[persona_id] [int] IDENTITY(1,1) NOT NULL,
		[cedula] [varchar](12) NOT NULL,
		[nombre] [varchar](255) NOT NULL,
		[apellido] [varchar](255) NOT NULL,
		[direccion] [varchar](255) NOT NULL,
		[correo] [varchar](50) NOT NULL,
		[telefono] [varchar](50) NOT NULL,
	 CONSTRAINT [PK_persona] PRIMARY KEY CLUSTERED 
	(
		[persona_id] ASC
	)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]

	CREATE TABLE [dbo].[puesto](
		[puesto_id] [int] IDENTITY(1,1) NOT NULL,
		[descripcion] [varchar](255) NOT NULL,
	 CONSTRAINT [PK_puesto] PRIMARY KEY CLUSTERED 
	(
		[puesto_id] ASC
	)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]

	CREATE TABLE [dbo].[reunion](
		[id_reunion] [int] IDENTITY(1,1) NOT NULL,
		[id_empleado] [int] NOT NULL,
		[id_evaluacion] [int] NOT NULL,
		[fecha] [date] NOT NULL,
		[hora_inicio] [time](0) NOT NULL,
		[hora_fin] [time](0) NOT NULL,
	 CONSTRAINT [PK_reunion] PRIMARY KEY CLUSTERED 
	(
		[id_reunion] ASC
	)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]

	CREATE TABLE [dbo].[rol](
		[rol_id] [int] IDENTITY(1,1) NOT NULL,
		[descripcion] [varchar](255) NOT NULL,
	 CONSTRAINT [PK_rol] PRIMARY KEY CLUSTERED 
	(
		[rol_id] ASC
	)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]

	CREATE TABLE [dbo].[rol_empleado](
		[rol_id] [int] NOT NULL,
		[empleado_id] [int] IDENTITY(1,1) NOT NULL
	) ON [PRIMARY]

	CREATE TABLE [dbo].[salario](
		[salario_id] [int] IDENTITY(1,1) NOT NULL,
		[empleado_id] [int] NOT NULL,
		[base] [decimal](19, 4) NOT NULL,
		[bonificacion] [decimal](19, 4) NOT NULL,
		[deduccion] [decimal](19, 4) NOT NULL,
		[final] [decimal](19, 4) NOT NULL,
		[desde_fecha] [date] NOT NULL,
		[hasta_fecha] [date] NOT NULL,
	 CONSTRAINT [PK_salario] PRIMARY KEY CLUSTERED 
	(
		[salario_id] ASC
	)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]

	CREATE TABLE [dbo].[turno](
		[turno_id] [int] IDENTITY(1,1) NOT NULL,
		[empleado_id] [int] NOT NULL,
		[tiempo_inicio] [datetime] NOT NULL,
		[tiempo_fin] [datetime] NOT NULL,
	 CONSTRAINT [PK_turno] PRIMARY KEY CLUSTERED 
	(
		[turno_id] ASC
	)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]

	ALTER TABLE [dbo].[empleado]  WITH CHECK ADD  CONSTRAINT [FK_empleado_departamento] FOREIGN KEY([empleado_id])
	REFERENCES [dbo].[departamento] ([departamento_id])

	ALTER TABLE [dbo].[empleado] CHECK CONSTRAINT [FK_empleado_departamento]

	ALTER TABLE [dbo].[empleado]  WITH CHECK ADD  CONSTRAINT [FK_empleado_persona] FOREIGN KEY([persona_id])
	REFERENCES [dbo].[persona] ([persona_id])

	ALTER TABLE [dbo].[empleado] CHECK CONSTRAINT [FK_empleado_persona]

	ALTER TABLE [dbo].[empleado]  WITH CHECK ADD  CONSTRAINT [FK_empleado_puesto] FOREIGN KEY([empleado_id])
	REFERENCES [dbo].[puesto] ([puesto_id])

	ALTER TABLE [dbo].[empleado] CHECK CONSTRAINT [FK_empleado_puesto]

	ALTER TABLE [dbo].[historial]  WITH CHECK ADD  CONSTRAINT [FK_historial_departamento] FOREIGN KEY([departamento_id])
	REFERENCES [dbo].[departamento] ([departamento_id])

	ALTER TABLE [dbo].[historial] CHECK CONSTRAINT [FK_historial_departamento]

	ALTER TABLE [dbo].[historial]  WITH CHECK ADD  CONSTRAINT [FK_historial_empleado] FOREIGN KEY([empleado_id])
	REFERENCES [dbo].[empleado] ([empleado_id])

	ALTER TABLE [dbo].[historial] CHECK CONSTRAINT [FK_historial_empleado]

	ALTER TABLE [dbo].[historial]  WITH CHECK ADD  CONSTRAINT [FK_historial_puesto] FOREIGN KEY([puesto_id])
	REFERENCES [dbo].[puesto] ([puesto_id])

	ALTER TABLE [dbo].[historial] CHECK CONSTRAINT [FK_historial_puesto]

	ALTER TABLE [dbo].[libre]  WITH CHECK ADD  CONSTRAINT [FK_libre_empleado] FOREIGN KEY([empleado_id])
	REFERENCES [dbo].[empleado] ([empleado_id])

	ALTER TABLE [dbo].[libre] CHECK CONSTRAINT [FK_libre_empleado]

	ALTER TABLE [dbo].[permiso_empleado]  WITH CHECK ADD  CONSTRAINT [FK_permiso_empleado_empleado] FOREIGN KEY([empleado_id])
	REFERENCES [dbo].[empleado] ([empleado_id])

	ALTER TABLE [dbo].[permiso_empleado] CHECK CONSTRAINT [FK_permiso_empleado_empleado]

	ALTER TABLE [dbo].[permiso_empleado]  WITH CHECK ADD  CONSTRAINT [FK_permiso_empleado_permiso] FOREIGN KEY([permiso_id])
	REFERENCES [dbo].[permiso] ([permiso_id])

	ALTER TABLE [dbo].[permiso_empleado] CHECK CONSTRAINT [FK_permiso_empleado_permiso]

	ALTER TABLE [dbo].[reunion]  WITH CHECK ADD  CONSTRAINT [FK_reunion_empleado] FOREIGN KEY([id_empleado])
	REFERENCES [dbo].[empleado] ([empleado_id])

	ALTER TABLE [dbo].[reunion] CHECK CONSTRAINT [FK_reunion_empleado]

	ALTER TABLE [dbo].[reunion]  WITH CHECK ADD  CONSTRAINT [FK_reunion_evaluacion] FOREIGN KEY([id_evaluacion])
	REFERENCES [dbo].[evaluacion] ([id_evaluacion])

	ALTER TABLE [dbo].[reunion] CHECK CONSTRAINT [FK_reunion_evaluacion]

	ALTER TABLE [dbo].[rol_empleado]  WITH CHECK ADD  CONSTRAINT [FK_rol_empleado_empleado] FOREIGN KEY([empleado_id])
	REFERENCES [dbo].[empleado] ([empleado_id])

	ALTER TABLE [dbo].[rol_empleado] CHECK CONSTRAINT [FK_rol_empleado_empleado]

	ALTER TABLE [dbo].[rol_empleado]  WITH CHECK ADD  CONSTRAINT [FK_rol_empleado_rol] FOREIGN KEY([rol_id])
	REFERENCES [dbo].[rol] ([rol_id])

	ALTER TABLE [dbo].[rol_empleado] CHECK CONSTRAINT [FK_rol_empleado_rol]

	ALTER TABLE [dbo].[salario]  WITH CHECK ADD  CONSTRAINT [FK_salario_empleado] FOREIGN KEY([empleado_id])
	REFERENCES [dbo].[empleado] ([empleado_id])

	ALTER TABLE [dbo].[salario] CHECK CONSTRAINT [FK_salario_empleado]

	ALTER TABLE [dbo].[turno]  WITH CHECK ADD  CONSTRAINT [FK_turno_empleado] FOREIGN KEY([empleado_id])
	REFERENCES [dbo].[empleado] ([empleado_id])

	ALTER TABLE [dbo].[turno] CHECK CONSTRAINT [FK_turno_empleado]


END
GO
/****** Object:  StoredProcedure [dbo].[stpDeleteAllData]    Script Date: 14/08/2024 14:52:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpDeleteAllData]
AS
BEGIN
	EXEC [dbo].[sp_MSforeachtable] 'DISABLE TRIGGER ALL ON ?';
	EXEC [dbo].[sp_MSforeachtable] 'ALTER TABLE ? NOCHECK CONSTRAINT ALL';
	EXEC [dbo].[sp_MSforeachtable] 'DELETE FROM ?';
	DBCC CHECKIDENT ('[dbo].[departamento]', RESEED, 0);
	DBCC CHECKIDENT ('[dbo].[empleado]', RESEED, 0);
	DBCC CHECKIDENT ('[dbo].[evaluacion]', RESEED, 0);
	DBCC CHECKIDENT ('[dbo].[historial]', RESEED, 0);
	DBCC CHECKIDENT ('[dbo].[libre]', RESEED, 0);
	DBCC CHECKIDENT ('[dbo].[permiso]', RESEED, 0);
	DBCC CHECKIDENT ('[dbo].[persona]', RESEED, 0);
	DBCC CHECKIDENT ('[dbo].[puesto]', RESEED, 0);
	DBCC CHECKIDENT ('[dbo].[reunion]', RESEED, 0);
	DBCC CHECKIDENT ('[dbo].[rol]', RESEED, 0);
	DBCC CHECKIDENT ('[dbo].[salario]', RESEED, 0);
	DBCC CHECKIDENT ('[dbo].[turno]', RESEED, 0);
	EXEC [dbo].[sp_MSforeachtable] 'ALTER TABLE ? WITH CHECK CHECK CONSTRAINT ALL';
	EXEC [dbo].[sp_MSforeachtable] 'ENABLE TRIGGER ALL ON ?';
END
GO
/****** Object:  StoredProcedure [dbo].[stpDeleteAllTables]    Script Date: 14/08/2024 14:52:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpDeleteAllTables]
AS

BEGIN
	SET NOCOUNT ON
	DECLARE @sql NVARCHAR(2000)
	WHILE(EXISTS(SELECT 1 from INFORMATION_SCHEMA.TABLE_CONSTRAINTS WHERE CONSTRAINT_TYPE='FOREIGN KEY'))
	BEGIN
		SELECT TOP 1 @sql=('ALTER TABLE ' + TABLE_SCHEMA + '.[' + TABLE_NAME + '] DROP CONSTRAINT [' + CONSTRAINT_NAME + ']')
		FROM INFORMATION_SCHEMA.TABLE_CONSTRAINTS
		WHERE CONSTRAINT_TYPE = 'FOREIGN KEY'
		EXEC(@sql)
		PRINT @sql
	END

	WHILE(EXISTS(SELECT * from INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME != '__MigrationHistory' AND TABLE_NAME != 'database_firewall_rules' AND TABLE_TYPE != 'VIEW'))
	BEGIN
		SELECT TOP 1 @sql=('DROP TABLE ' + TABLE_SCHEMA + '.[' + TABLE_NAME + ']')
		FROM INFORMATION_SCHEMA.TABLES
		WHERE TABLE_NAME != '__MigrationHistory' AND TABLE_NAME != 'database_firewall_rules' 
		EXEC(@sql)
		PRINT @sql
	END
END
GO
/****** Object:  StoredProcedure [dbo].[stpInsertEmpleado]    Script Date: 14/08/2024 14:52:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpInsertEmpleado]
			    @persona_id int
			   ,@departamento_id int
			   ,@puesto_id int
			   ,@desde_fecha datetime
AS
BEGIN
    SET NOCOUNT ON;
	INSERT INTO [dbo].[empleado]
			   ([persona_id]
			   ,[departamento_id]
			   ,[puesto_id]
			   ,[desde_fecha])
		 VALUES
			   (@persona_id
			   ,@departamento_id
			   ,@puesto_id
			   ,@desde_fecha)
END
GO
/****** Object:  StoredProcedure [dbo].[stpInsertEvaluacion]    Script Date: 14/08/2024 14:52:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpInsertEvaluacion]
			    @reunion_id int
			   ,@objetivo varchar(255)
			   ,@seguimiento varchar(255)
			   ,@retroalimentacion varchar(255)
AS
BEGIN
    SET NOCOUNT ON;
	INSERT INTO [dbo].[evaluacion]
			   ([reunion_id]
			   ,[objetivo]
			   ,[seguimiento]
			   ,[retroalimentacion])
		 VALUES
			   (@reunion_id
			   ,@objetivo
			   ,@seguimiento
			   ,@retroalimentacion)
END
GO
/****** Object:  StoredProcedure [dbo].[stpInsertHistorial]    Script Date: 14/08/2024 14:52:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpInsertHistorial]
            @empleado_id int
           ,@puesto_id int
           ,@departamento_id int
           ,@de_fecha date
           ,@hasta_fecha date
AS
BEGIN
    SET NOCOUNT ON;
	INSERT INTO [dbo].[historial]
           ([empleado_id]
           ,[puesto_id]
           ,[departamento_id]
           ,[de_fecha]
           ,[hasta_fecha])
     VALUES
           (@empleado_id
           ,@puesto_id
           ,@departamento_id
           ,@de_fecha
           ,@hasta_fecha)
END
GO
/****** Object:  StoredProcedure [dbo].[stpInsertPersona]    Script Date: 14/08/2024 14:52:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpInsertPersona]
            @cedula varchar(12)
           ,@nombre varchar(255)
           ,@apellido varchar(255)
           ,@direccion varchar(255)
           ,@correo varchar(50)
           ,@telefono varchar(50)
AS
BEGIN
    SET NOCOUNT ON;
	INSERT INTO [dbo].[persona]
			   ([cedula]
			   ,[nombre]
			   ,[apellido]
			   ,[direccion]
			   ,[correo]
			   ,[telefono])
		 VALUES
			   (@cedula
			   ,@nombre
			   ,@apellido
			   ,@direccion
			   ,@correo
			   ,@telefono)
END
GO
/****** Object:  StoredProcedure [dbo].[stpInsertTestValues]    Script Date: 14/08/2024 14:52:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stpInsertTestValues]
AS
BEGIN

	/*
	/!\ NO FUNCIONA. /!\
	EXEC [dbo].[sp_MSforeachtable] 'SET IDENTITY_INSERT ? ON';
	EXEC [dbo].[sp_MSforeachtable] 'SET IDENTITY_INSERT ? OFF';
	/!\ NO FUNCIONA. /!\
	*/

	/* /!\ DEBE HABER SOLO UN IDENTITY_INSERT A LA VEZ /!\*/

	SET IDENTITY_INSERT [dbo].[departamento] ON;
	INSERT INTO [dbo].[departamento] (departamento_id, descripcion) VALUES (1, 'Administracion');
	INSERT INTO [dbo].[departamento] (departamento_id, descripcion) VALUES (2, 'Contabilidad');
	INSERT INTO [dbo].[departamento] (departamento_id, descripcion) VALUES (3, 'Recursos Humanos');
	INSERT INTO [dbo].[departamento] (departamento_id, descripcion) VALUES (4, 'Mercadeo');
	INSERT INTO [dbo].[departamento] (departamento_id, descripcion) VALUES (5, 'Logistica');
	INSERT INTO [dbo].[departamento] (departamento_id, descripcion) VALUES (6, 'Tecnologia');
	INSERT INTO [dbo].[departamento] (departamento_id, descripcion) VALUES (7, 'Comunicaciones');
	INSERT INTO [dbo].[departamento] (departamento_id, descripcion) VALUES (8, 'Investigacion y Desarrollo');
	INSERT INTO [dbo].[departamento] (departamento_id, descripcion) VALUES (9, 'Legal');
	INSERT INTO [dbo].[departamento] (departamento_id, descripcion) VALUES (10, 'Soporte al Cliente');
	SET IDENTITY_INSERT [dbo].[departamento] OFF;

	SET IDENTITY_INSERT [dbo].[puesto] ON;
	INSERT INTO [dbo].[puesto] (puesto_id, descripcion) VALUES (1, 'Director General');
	INSERT INTO [dbo].[puesto] (puesto_id, descripcion) VALUES (2, 'Gerente General');
	INSERT INTO [dbo].[puesto] (puesto_id, descripcion) VALUES (3, 'Coordinador de Departamento');
	INSERT INTO [dbo].[puesto] (puesto_id, descripcion) VALUES (4, 'Diseñador');
	INSERT INTO [dbo].[puesto] (puesto_id, descripcion) VALUES (5, 'Redactor');
	INSERT INTO [dbo].[puesto] (puesto_id, descripcion) VALUES (6, 'Agente de Ventas');
	INSERT INTO [dbo].[puesto] (puesto_id, descripcion) VALUES (7, 'Contador');
	INSERT INTO [dbo].[puesto] (puesto_id, descripcion) VALUES (8, 'Programador');
	INSERT INTO [dbo].[puesto] (puesto_id, descripcion) VALUES (9, 'Auditor');
	INSERT INTO [dbo].[puesto] (puesto_id, descripcion) VALUES (10, 'Supervisor de Calidad');
	INSERT INTO [dbo].[puesto] (puesto_id, descripcion) VALUES (11, 'Analista de Negocios');
	INSERT INTO [dbo].[puesto] (puesto_id, descripcion) VALUES (12, 'Recursos Humanos');
	INSERT INTO [dbo].[puesto] (puesto_id, descripcion) VALUES (13, 'Secretario');
	INSERT INTO [dbo].[puesto] (puesto_id, descripcion) VALUES (14, 'Asistente');
	INSERT INTO [dbo].[puesto] (puesto_id, descripcion) VALUES (15, 'Operador');
	SET IDENTITY_INSERT [dbo].[puesto] OFF;

	SET IDENTITY_INSERT [dbo].[rol] ON;
	INSERT INTO [dbo].[rol] (rol_id, descripcion) VALUES (1, 'Proprietario');
	INSERT INTO [dbo].[rol] (rol_id, descripcion) VALUES (2, 'Administrador');
	INSERT INTO [dbo].[rol] (rol_id, descripcion) VALUES (3, 'Contribuidor');
	INSERT INTO [dbo].[rol] (rol_id, descripcion) VALUES (4, 'Lector');
	INSERT INTO [dbo].[rol] (rol_id, descripcion) VALUES (5, 'Invitado');
	SET IDENTITY_INSERT [dbo].[rol] OFF;

	SET IDENTITY_INSERT [dbo].[permiso] ON;
	INSERT INTO [dbo].[permiso] (permiso_id, descripcion) VALUES (1, 'Acceso Total');
	INSERT INTO [dbo].[permiso] (permiso_id, descripcion) VALUES (2, 'Ejecucion');
	INSERT INTO [dbo].[permiso] (permiso_id, descripcion) VALUES (3, 'Escritura');
	INSERT INTO [dbo].[permiso] (permiso_id, descripcion) VALUES (4, 'Lectura');
	INSERT INTO [dbo].[permiso] (permiso_id, descripcion) VALUES (5, 'Ninguno');
	SET IDENTITY_INSERT [dbo].[permiso] OFF;

	SET IDENTITY_INSERT [dbo].[persona] ON;
	INSERT INTO [dbo].[persona] (persona_id, cedula, nombre, apellido, direccion, correo, telefono) VALUES (1, '305240018', 'Dayron', 'Chaves', 'Turrialba', 'dayron.chaves@uned.cr', '11111111');
	INSERT INTO [dbo].[persona] (persona_id, cedula, nombre, apellido, direccion, correo, telefono) VALUES (2, '202220222', 'Persona', '2', 'San Jose', 'persona2@example.com', '22222222');
	INSERT INTO [dbo].[persona] (persona_id, cedula, nombre, apellido, direccion, correo, telefono) VALUES (3, '303330333', 'Persona', '3', 'San Jose', 'persona3@example.com', '33333333');
	INSERT INTO [dbo].[persona] (persona_id, cedula, nombre, apellido, direccion, correo, telefono) VALUES (4, '404440444', 'Persona', '4', 'San Jose', 'persona4@example.com', '44444444');
	INSERT INTO [dbo].[persona] (persona_id, cedula, nombre, apellido, direccion, correo, telefono) VALUES (5, '505550555', 'Persona', '5', 'San Jose', 'persona5@example.com', '55555555');
	INSERT INTO [dbo].[persona] (persona_id, cedula, nombre, apellido, direccion, correo, telefono) VALUES (6, '606660666', 'Persona', '6', 'San Jose', 'persona6@example.com', '66666666');
	INSERT INTO [dbo].[persona] (persona_id, cedula, nombre, apellido, direccion, correo, telefono) VALUES (7, '707770777', 'Persona', '7', 'San Jose', 'persona7@example.com', '77777777');
	INSERT INTO [dbo].[persona] (persona_id, cedula, nombre, apellido, direccion, correo, telefono) VALUES (8, '808880888', 'Persona', '8', 'San Jose', 'persona8@example.com', '88888888');
	INSERT INTO [dbo].[persona] (persona_id, cedula, nombre, apellido, direccion, correo, telefono) VALUES (9, '909990999', 'Persona', '9', 'San Jose', 'persona9@example.com', '99999999');
	INSERT INTO [dbo].[persona] (persona_id, cedula, nombre, apellido, direccion, correo, telefono) VALUES (10, '000000000', 'Persona', '10', 'San Jose', 'persona10@example.com', '00000000');
	SET IDENTITY_INSERT [dbo].[persona] OFF;

	SET IDENTITY_INSERT [dbo].[empleado] ON;
	DECLARE @DiaContrato DATETIME =  GETDATE() AT TIME ZONE 'Mountain Standard Time';
	INSERT INTO [dbo].[empleado] (empleado_id, persona_id, departamento_id, puesto_id, desde_fecha) VALUES (1, 1, 1, 1, @DiaContrato);
	INSERT INTO [dbo].[empleado] (empleado_id, persona_id, departamento_id, puesto_id, desde_fecha) VALUES (2, 2, 2, 2, DATEADD( DAY, +1, @DiaContrato));
	INSERT INTO [dbo].[empleado] (empleado_id, persona_id, departamento_id, puesto_id, desde_fecha) VALUES (3, 3, 3, 3, DATEADD( DAY, +1, @DiaContrato));
	INSERT INTO [dbo].[empleado] (empleado_id, persona_id, departamento_id, puesto_id, desde_fecha) VALUES (4, 4, 4, 4, DATEADD( DAY, +1, @DiaContrato));
	INSERT INTO [dbo].[empleado] (empleado_id, persona_id, departamento_id, puesto_id, desde_fecha) VALUES (5, 5, 5, 5, DATEADD( DAY, +1, @DiaContrato));
	INSERT INTO [dbo].[empleado] (empleado_id, persona_id, departamento_id, puesto_id, desde_fecha) VALUES (6, 6, 6, 6, DATEADD( DAY, +1, @DiaContrato));
	INSERT INTO [dbo].[empleado] (empleado_id, persona_id, departamento_id, puesto_id, desde_fecha) VALUES (7, 7, 7, 7, DATEADD( DAY, +1, @DiaContrato));
	INSERT INTO [dbo].[empleado] (empleado_id, persona_id, departamento_id, puesto_id, desde_fecha) VALUES (8, 8, 8, 8, DATEADD( DAY, +1, @DiaContrato));
	INSERT INTO [dbo].[empleado] (empleado_id, persona_id, departamento_id, puesto_id, desde_fecha) VALUES (9, 9, 9, 9, DATEADD( DAY, +1, @DiaContrato));
	INSERT INTO [dbo].[empleado] (empleado_id, persona_id, departamento_id, puesto_id, desde_fecha) VALUES (10, 10, 10, 10, DATEADD( DAY, +1, @DiaContrato));
	SET IDENTITY_INSERT [dbo].[empleado] OFF;

	SET IDENTITY_INSERT [dbo].[rol_empleado] ON;
	INSERT INTO [dbo].[rol_empleado] (rol_id, empleado_id) VALUES (1, 1);
	INSERT INTO [dbo].[rol_empleado] (rol_id, empleado_id) VALUES (1, 2);
	INSERT INTO [dbo].[rol_empleado] (rol_id, empleado_id) VALUES (2, 3);
	INSERT INTO [dbo].[rol_empleado] (rol_id, empleado_id) VALUES (2, 4);
	INSERT INTO [dbo].[rol_empleado] (rol_id, empleado_id) VALUES (3, 5);
	INSERT INTO [dbo].[rol_empleado] (rol_id, empleado_id) VALUES (3, 6);
	INSERT INTO [dbo].[rol_empleado] (rol_id, empleado_id) VALUES (4, 7);
	INSERT INTO [dbo].[rol_empleado] (rol_id, empleado_id) VALUES (4, 8);
	INSERT INTO [dbo].[rol_empleado] (rol_id, empleado_id) VALUES (5, 9);
	INSERT INTO [dbo].[rol_empleado] (rol_id, empleado_id) VALUES (5, 10);
	SET IDENTITY_INSERT [dbo].[rol_empleado] OFF;

	SET IDENTITY_INSERT [dbo].[permiso_empleado] ON;
	INSERT INTO [dbo].[permiso_empleado] (permiso_id, empleado_id) VALUES (1, 1);
	INSERT INTO [dbo].[permiso_empleado] (permiso_id, empleado_id) VALUES (1, 2);
	INSERT INTO [dbo].[permiso_empleado] (permiso_id, empleado_id) VALUES (2, 3);
	INSERT INTO [dbo].[permiso_empleado] (permiso_id, empleado_id) VALUES (2, 4);
	INSERT INTO [dbo].[permiso_empleado] (permiso_id, empleado_id) VALUES (3, 5);
	INSERT INTO [dbo].[permiso_empleado] (permiso_id, empleado_id) VALUES (3, 6);
	INSERT INTO [dbo].[permiso_empleado] (permiso_id, empleado_id) VALUES (4, 7);
	INSERT INTO [dbo].[permiso_empleado] (permiso_id, empleado_id) VALUES (4, 8);
	INSERT INTO [dbo].[permiso_empleado] (permiso_id, empleado_id) VALUES (5, 9);
	INSERT INTO [dbo].[permiso_empleado] (permiso_id, empleado_id) VALUES (5, 10);
	SET IDENTITY_INSERT [dbo].[permiso_empleado] OFF;

	SET IDENTITY_INSERT [dbo].[turno] ON;
	DECLARE @TiempoInicio DATETIME =  GETDATE() AT TIME ZONE 'Mountain Standard Time';
	DECLARE @TiempoFin DATETIME = DATEADD( HOUR, +8, @TiempoInicio);
	INSERT INTO [dbo].[turno] (turno_id, empleado_id, tiempo_inicio, tiempo_fin) VALUES (1, 1, @TiempoInicio, @TiempoFin);
	INSERT INTO [dbo].[turno] (turno_id, empleado_id, tiempo_inicio, tiempo_fin) VALUES (2, 2, DATEADD( DAY, +1, @TiempoInicio), DATEADD( DAY, +1, @TiempoFin));
	INSERT INTO [dbo].[turno] (turno_id, empleado_id, tiempo_inicio, tiempo_fin) VALUES (3, 3, DATEADD( DAY, +2, @TiempoInicio), DATEADD( DAY, +2, @TiempoFin));
	INSERT INTO [dbo].[turno] (turno_id, empleado_id, tiempo_inicio, tiempo_fin) VALUES (4, 4, DATEADD( DAY, +3, @TiempoInicio), DATEADD( DAY, +3, @TiempoFin));
	INSERT INTO [dbo].[turno] (turno_id, empleado_id, tiempo_inicio, tiempo_fin) VALUES (5, 5, DATEADD( DAY, +4, @TiempoInicio), DATEADD( DAY, +4, @TiempoFin));
	INSERT INTO [dbo].[turno] (turno_id, empleado_id, tiempo_inicio, tiempo_fin) VALUES (6, 6, DATEADD( DAY, +5, @TiempoInicio), DATEADD( DAY, +5, @TiempoFin));
	INSERT INTO [dbo].[turno] (turno_id, empleado_id, tiempo_inicio, tiempo_fin) VALUES (7, 7, DATEADD( DAY, +6, @TiempoInicio), DATEADD( DAY, +6, @TiempoFin));
	INSERT INTO [dbo].[turno] (turno_id, empleado_id, tiempo_inicio, tiempo_fin) VALUES (8, 8, DATEADD( DAY, +7, @TiempoInicio), DATEADD( DAY, +7, @TiempoFin));
	INSERT INTO [dbo].[turno] (turno_id, empleado_id, tiempo_inicio, tiempo_fin) VALUES (9, 9, DATEADD( DAY, +8, @TiempoInicio), DATEADD( DAY, +8, @TiempoFin));
	INSERT INTO [dbo].[turno] (turno_id, empleado_id, tiempo_inicio, tiempo_fin) VALUES (10, 10, DATEADD( DAY, +9, @TiempoInicio), DATEADD( DAY, +9, @TiempoFin));
	SET IDENTITY_INSERT [dbo].[turno] OFF;

	SET IDENTITY_INSERT [dbo].[libre] ON;
	INSERT INTO [dbo].[libre] (libre_id, empleado_id, fecha, motivo) VALUES (1, 1, @TiempoInicio, 'Incapacitacion');
	INSERT INTO [dbo].[libre] (libre_id, empleado_id, fecha, motivo) VALUES (2, 2, DATEADD( DAY, +10, @TiempoInicio), 'Incapacitacion');
	INSERT INTO [dbo].[libre] (libre_id, empleado_id, fecha, motivo) VALUES (3, 3, DATEADD( DAY, +11, @TiempoInicio), 'Incapacitacion');
	INSERT INTO [dbo].[libre] (libre_id, empleado_id, fecha, motivo) VALUES (4, 4, DATEADD( DAY, +12, @TiempoInicio), 'Incapacitacion');
	INSERT INTO [dbo].[libre] (libre_id, empleado_id, fecha, motivo) VALUES (5, 5, DATEADD( DAY, +13, @TiempoInicio), 'Incapacitacion');
	INSERT INTO [dbo].[libre] (libre_id, empleado_id, fecha, motivo) VALUES (6, 6, DATEADD( DAY, +14, @TiempoInicio), 'Incapacitacion');
	INSERT INTO [dbo].[libre] (libre_id, empleado_id, fecha, motivo) VALUES (7, 7, DATEADD( DAY, +15, @TiempoInicio), 'Incapacitacion');
	INSERT INTO [dbo].[libre] (libre_id, empleado_id, fecha, motivo) VALUES (8, 8, DATEADD( DAY, +16, @TiempoInicio), 'Incapacitacion');
	INSERT INTO [dbo].[libre] (libre_id, empleado_id, fecha, motivo) VALUES (9, 9, DATEADD( DAY, +17, @TiempoInicio), 'Incapacitacion');
	INSERT INTO [dbo].[libre] (libre_id, empleado_id, fecha, motivo) VALUES (10, 10, DATEADD( DAY, +18, @TiempoInicio), 'Incapacitacion');
	SET IDENTITY_INSERT [dbo].[libre] OFF;
	
	SET IDENTITY_INSERT [dbo].[salario] ON;
	DECLARE @Hoy DATETIME =  GETDATE() AT TIME ZONE 'Mountain Standard Time';
	DECLARE @SiguienteMes DATETIME = DATEADD( MONTH, +1, @Hoy);
	INSERT INTO [dbo].[salario] (salario_id, empleado_id, base, bonificacion, deduccion, desde_fecha, hasta_fecha) VALUES (1, 1, 9999999999, 9000000, 0, @Hoy, @SiguienteMes);
	INSERT INTO [dbo].[salario] (salario_id, empleado_id, base, bonificacion, deduccion, desde_fecha, hasta_fecha) VALUES (2, 2, 8999999999, 8000000, 100000, @Hoy, @SiguienteMes);
	INSERT INTO [dbo].[salario] (salario_id, empleado_id, base, bonificacion, deduccion, desde_fecha, hasta_fecha) VALUES (3, 3, 7999999999, 7000000, 200000, @Hoy, @SiguienteMes);
	INSERT INTO [dbo].[salario] (salario_id, empleado_id, base, bonificacion, deduccion, desde_fecha, hasta_fecha) VALUES (4, 4, 6999999999, 6000000, 300000, @Hoy, @SiguienteMes);
	INSERT INTO [dbo].[salario] (salario_id, empleado_id, base, bonificacion, deduccion, desde_fecha, hasta_fecha) VALUES (5, 5, 5999999999, 5000000, 400000, @Hoy, @SiguienteMes);
	INSERT INTO [dbo].[salario] (salario_id, empleado_id, base, bonificacion, deduccion, desde_fecha, hasta_fecha) VALUES (6, 6, 4999999999, 4000000, 500000, @Hoy, @SiguienteMes);
	INSERT INTO [dbo].[salario] (salario_id, empleado_id, base, bonificacion, deduccion, desde_fecha, hasta_fecha) VALUES (7, 7, 3999999999, 3000000, 600000, @Hoy, @SiguienteMes);
	INSERT INTO [dbo].[salario] (salario_id, empleado_id, base, bonificacion, deduccion, desde_fecha, hasta_fecha) VALUES (8, 8, 2999999999, 2000000, 700000, @Hoy, @SiguienteMes);
	INSERT INTO [dbo].[salario] (salario_id, empleado_id, base, bonificacion, deduccion, desde_fecha, hasta_fecha) VALUES (9, 9, 1999999999, 1000000, 800000, @Hoy, @SiguienteMes);
	INSERT INTO [dbo].[salario] (salario_id, empleado_id, base, bonificacion, deduccion, desde_fecha, hasta_fecha) VALUES (10, 10, 1999999999, 1000000, 900000, @Hoy, @SiguienteMes);
	SET IDENTITY_INSERT [dbo].[salario] OFF;

	SET IDENTITY_INSERT [dbo].[historial] ON;
	INSERT INTO [dbo].[historial] (historial_id, empleado_id, puesto_id, departamento_id, de_fecha, hasta_fecha) VALUES (1, 1, 10, 10, DATEADD( MONTH, -10, @DiaContrato), @DiaContrato);
	INSERT INTO [dbo].[historial] (historial_id, empleado_id, puesto_id, departamento_id, de_fecha, hasta_fecha) VALUES (2, 2, 9, 9, DATEADD( MONTH, -10, @DiaContrato), @DiaContrato);
	INSERT INTO [dbo].[historial] (historial_id, empleado_id, puesto_id, departamento_id, de_fecha, hasta_fecha) VALUES (3, 3, 8, 8, DATEADD( MONTH, -10, @DiaContrato), @DiaContrato);
	INSERT INTO [dbo].[historial] (historial_id, empleado_id, puesto_id, departamento_id, de_fecha, hasta_fecha) VALUES (4, 4, 7, 7, DATEADD( MONTH, -10, @DiaContrato), @DiaContrato);
	INSERT INTO [dbo].[historial] (historial_id, empleado_id, puesto_id, departamento_id, de_fecha, hasta_fecha) VALUES (5, 5, 6, 6, DATEADD( MONTH, -10, @DiaContrato), @DiaContrato);
	INSERT INTO [dbo].[historial] (historial_id, empleado_id, puesto_id, departamento_id, de_fecha, hasta_fecha) VALUES (6, 6, 5, 5, DATEADD( MONTH, -10, @DiaContrato), @DiaContrato);
	INSERT INTO [dbo].[historial] (historial_id, empleado_id, puesto_id, departamento_id, de_fecha, hasta_fecha) VALUES (7, 7, 4, 4, DATEADD( MONTH, -10, @DiaContrato), @DiaContrato);
	INSERT INTO [dbo].[historial] (historial_id, empleado_id, puesto_id, departamento_id, de_fecha, hasta_fecha) VALUES (8, 8, 3, 3, DATEADD( MONTH, -10, @DiaContrato), @DiaContrato);
	INSERT INTO [dbo].[historial] (historial_id, empleado_id, puesto_id, departamento_id, de_fecha, hasta_fecha) VALUES (9, 9, 2, 2, DATEADD( MONTH, -10, @DiaContrato), @DiaContrato);
	INSERT INTO [dbo].[historial] (historial_id, empleado_id, puesto_id, departamento_id, de_fecha, hasta_fecha) VALUES (10, 10, 1, 1, DATEADD( MONTH, -10, @DiaContrato), @DiaContrato);
	SET IDENTITY_INSERT [dbo].[historial] OFF;

	SET IDENTITY_INSERT [dbo].[reunion] ON;
	DECLARE @EnSieteDias DATETIME =  DATEADD( DAY, +7, GETDATE() AT TIME ZONE 'Mountain Standard Time'); 
	DECLARE @Inicio TIME =  '08:00:00'
	DECLARE @Fin TIME = '10:00:00'
	INSERT INTO [dbo].[reunion] (reunion_id, empleado_id, fecha, hora_inicio, hora_fin) VALUES (1, 1, @EnSieteDias, @Inicio, @Fin);
	INSERT INTO [dbo].[reunion] (reunion_id, empleado_id, fecha, hora_inicio, hora_fin) VALUES (2, 2, @EnSieteDias, DATEADD( HOUR, +1, @Inicio), DATEADD( HOUR, +1, @Fin));
	INSERT INTO [dbo].[reunion] (reunion_id, empleado_id, fecha, hora_inicio, hora_fin) VALUES (3, 3, @EnSieteDias, DATEADD( HOUR, +2, @Inicio), DATEADD( HOUR, +2, @Fin));
	INSERT INTO [dbo].[reunion] (reunion_id, empleado_id, fecha, hora_inicio, hora_fin) VALUES (4, 4, @EnSieteDias, DATEADD( HOUR, +3, @Inicio), DATEADD( HOUR, +3, @Fin));
	INSERT INTO [dbo].[reunion] (reunion_id, empleado_id, fecha, hora_inicio, hora_fin) VALUES (5, 5, @EnSieteDias, DATEADD( HOUR, +4, @Inicio), DATEADD( HOUR, +4, @Fin));
	INSERT INTO [dbo].[reunion] (reunion_id, empleado_id, fecha, hora_inicio, hora_fin) VALUES (6, 6, @EnSieteDias, DATEADD( HOUR, +5, @Inicio), DATEADD( HOUR, +5, @Fin));
	INSERT INTO [dbo].[reunion] (reunion_id, empleado_id, fecha, hora_inicio, hora_fin) VALUES (7, 7, @EnSieteDias, DATEADD( HOUR, +6, @Inicio), DATEADD( HOUR, +6, @Fin));
	INSERT INTO [dbo].[reunion] (reunion_id, empleado_id, fecha, hora_inicio, hora_fin) VALUES (8, 8, @EnSieteDias, DATEADD( HOUR, +7, @Inicio), DATEADD( HOUR, +7, @Fin));
	INSERT INTO [dbo].[reunion] (reunion_id, empleado_id, fecha, hora_inicio, hora_fin) VALUES (9, 9, @EnSieteDias, DATEADD( HOUR, +8, @Inicio), DATEADD( HOUR, +8, @Fin));
	INSERT INTO [dbo].[reunion] (reunion_id, empleado_id, fecha, hora_inicio, hora_fin) VALUES (10, 10, @EnSieteDias, DATEADD( HOUR, +9, @Inicio), DATEADD( HOUR, +9, @Fin));
	SET IDENTITY_INSERT [dbo].[reunion] OFF;

	SET IDENTITY_INSERT [dbo].[evaluacion] ON;
	INSERT INTO [dbo].[evaluacion] (evaluacion_id, reunion_id, empleado_id, objetivo, seguimiento, retroalimentacion) VALUES (1, 1, 1, 'Objetivo 1', 'Seguimiento 1', 'Retroalimentacion 1');
	INSERT INTO [dbo].[evaluacion] (evaluacion_id, reunion_id, empleado_id, objetivo, seguimiento, retroalimentacion) VALUES (2, 2, 2, 'Objetivo 2', 'Seguimiento 2', 'Retroalimentacion 2');
	INSERT INTO [dbo].[evaluacion] (evaluacion_id, reunion_id, empleado_id, objetivo, seguimiento, retroalimentacion) VALUES (3, 3, 3, 'Objetivo 3', 'Seguimiento 3', 'Retroalimentacion 3');
	INSERT INTO [dbo].[evaluacion] (evaluacion_id, reunion_id, empleado_id, objetivo, seguimiento, retroalimentacion) VALUES (4, 4, 4, 'Objetivo 4', 'Seguimiento 4', 'Retroalimentacion 4');
	INSERT INTO [dbo].[evaluacion] (evaluacion_id, reunion_id, empleado_id, objetivo, seguimiento, retroalimentacion) VALUES (5, 5, 5, 'Objetivo 5', 'Seguimiento 5', 'Retroalimentacion 5');
	INSERT INTO [dbo].[evaluacion] (evaluacion_id, reunion_id, empleado_id, objetivo, seguimiento, retroalimentacion) VALUES (6, 6, 6, 'Objetivo 6', 'Seguimiento 6', 'Retroalimentacion 6');
	INSERT INTO [dbo].[evaluacion] (evaluacion_id, reunion_id, empleado_id, objetivo, seguimiento, retroalimentacion) VALUES (7, 7, 7, 'Objetivo 7', 'Seguimiento 7', 'Retroalimentacion 7');
	INSERT INTO [dbo].[evaluacion] (evaluacion_id, reunion_id, empleado_id, objetivo, seguimiento, retroalimentacion) VALUES (8, 8, 8, 'Objetivo 8', 'Seguimiento 8', 'Retroalimentacion 8');
	INSERT INTO [dbo].[evaluacion] (evaluacion_id, reunion_id, empleado_id, objetivo, seguimiento, retroalimentacion) VALUES (9, 9, 9, 'Objetivo 9', 'Seguimiento 9', 'Retroalimentacion 9');
	INSERT INTO [dbo].[evaluacion] (evaluacion_id, reunion_id, empleado_id, objetivo, seguimiento, retroalimentacion) VALUES (10, 10, 10, 'Objetivo 10', 'Seguimiento 10', 'Retroalimentacion 10');
	SET IDENTITY_INSERT [dbo].[evaluacion] OFF;
END
GO
